In [3]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point
import numpy as np

## CaractÃ©ristiques

In [4]:
doc2022 = pd.read_csv( 'carcteristiques-2022.csv',sep=';')
doc2020 = pd.read_csv( 'caracteristiques-2020.csv',sep=';')
doc2021 = pd.read_csv( 'carcteristiques-2021.csv',sep=';')
doc2019 = pd.read_csv( 'caracteristiques-2019.csv',sep=';')
doc2023 = pd.read_csv( 'caract-2023.csv',sep=';')

FileNotFoundError: [Errno 2] No such file or directory: 'carcteristiques-2022.csv'

In [ ]:
doc2022.rename(columns={'Accident_Id': 'Num_Acc'}, inplace=True)

In [ ]:
doc=pd.concat([doc2022,doc2020,doc2021,doc2019,doc2023],axis=0)

In [ ]:
# Convert 'Accident_Id' values to integers
doc['Num_Acc'] = doc['Num_Acc'].astype(str)
doc['Num_Acc'] = doc['Num_Acc'].replace(" ", "")

In [ ]:
doc['lat']=doc['lat'].str.replace(',', '.')
doc['long']=doc['long'].str.replace(',', '.')

In [ ]:
doc['lat']=doc['lat'].astype(float)
doc['long']=doc['long'].astype(float)

In [ ]:
doc['Num_Acc']=doc['Num_Acc'].str.replace(',', '.')
doc['Num_Acc']=doc['Num_Acc'].astype(float)

In [ ]:
paris=gpd.read_file('paris.geojson')

Skipping field reg_code: unsupported OGR type: 5
Skipping field reg_name: unsupported OGR type: 5
Skipping field dep_code: unsupported OGR type: 5
Skipping field dep_name: unsupported OGR type: 5
Skipping field epci_code: unsupported OGR type: 5
Skipping field epci_curren: unsupported OGR type: 5
Skipping field epci_name: unsupported OGR type: 5

In [ ]:
lyon=gpd.read_file('MDL.geojson')

Skipping field reg_code: unsupported OGR type: 5
Skipping field reg_name: unsupported OGR type: 5
Skipping field dep_code: unsupported OGR type: 5
Skipping field dep_name: unsupported OGR type: 5
Skipping field epci_code: unsupported OGR type: 5
Skipping field epci_curren: unsupported OGR type: 5
Skipping field epci_name: unsupported OGR type: 5

In [ ]:
geometry = [Point(xy) for xy in zip(doc['long'], doc['lat'])]

# CrÃ©ez le GeoDataFrame en spÃ©cifiant la colonne de gÃ©omÃ©trie
doc = gpd.GeoDataFrame(doc, geometry=geometry, crs='EPSG:4326')

In [ ]:
doc

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long,geometry
0,2.022000e+11,19,10,2022,16:15,1,26,26198,2,3,1,3,TEIL(vieille route du),44.559420,4.725720,POINT (4.72572 44.55942)
1,2.022000e+11,20,10,2022,08:34,1,25,25204,2,3,1,3,Miranda,46.925810,6.346200,POINT (6.3462 46.92581)
2,2.022000e+11,20,10,2022,17:15,1,22,22360,2,6,1,2,ROND POINT DE BREZILLET,48.493162,-2.760439,POINT (-2.76044 48.49316)
3,2.022000e+11,20,10,2022,18:00,1,16,16102,2,3,8,6,LOHMEYER (RUE),45.692652,-0.326290,POINT (-0.32629 45.69265)
4,2.022000e+11,19,10,2022,11:45,1,13,13103,1,1,1,2,ROUTE DE JEAN MOULIN-RN 538,43.675579,5.092703,POINT (5.0927 43.67558)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54817,2.023001e+11,26,10,2023,20:45,5,974,97416,2,1,1,6,LA FONTAINE (RUE JEAN DE),-21.338280,55.477710,POINT (55.47771 -21.33828)
54818,2.023001e+11,26,10,2023,19:10,3,974,97416,1,1,1,3,RN3 (ANCIENNE ROUTE),-21.288650,55.509940,POINT (55.50994 -21.28865)
54819,2.023001e+11,26,10,2023,09:40,1,974,97411,2,1,1,7,BAMBOU (CHEMIN DE LA RUELLE),-20.901290,55.405980,POINT (55.40598 -20.90129)
54820,2.023001e+11,26,10,2023,17:20,1,973,97302,1,6,1,3,ROUTE NATIONALE 1,4.897130,-52.328540,POINT (-52.32854 4.89713)
54821,2.023001e+11,20,10,2023,16:30,1,69,69387,2,1,6,3,Boulevard Yves Farge,45.733060,4.825400,POINT (4.8254 45.73306)

## VÃ©hicles

In [ ]:
vehi2022 = pd.read_csv( 'vehicules-2022.csv',sep=';')
vehi2021 = pd.read_csv( 'vehicules-2021.csv',sep=';')
vehi2020 = pd.read_csv( 'vehicules-2020.csv',sep=';')
vehi2019 = pd.read_csv( 'vehicules-2019.csv',sep=';')
vehi2023 = pd.read_csv( 'vehicules-2023.csv',sep=';')

In [ ]:
vehi=pd.concat([vehi2022,vehi2020,vehi2021,vehi2019,vehi2023],axis=0)

In [ ]:
vehi['Num_Acc']=vehi['Num_Acc'].astype(float)

# Lieux

In [ ]:
lieux2022 = pd.read_csv( 'lieux-2022.csv',sep=';')
lieux2020 = pd.read_csv( 'lieux-2020.csv',sep=';')
lieux2021 = pd.read_csv( 'lieux-2021.csv',sep=';')
lieux2019 = pd.read_csv( 'lieux-2019.csv',sep=';')
lieux2023 = pd.read_csv( 'lieux-2023.csv',sep=';')

/var/folders/y0/0nrj3m412p978185q3d2503sr02q24/T/ipykernel_2230/3516074304.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  lieux2022 = pd.read_csv( 'lieux-2022.csv',sep=';')
/var/folders/y0/0nrj3m412p978185q3d2503sr02q24/T/ipykernel_2230/3516074304.py:5: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  lieux2023 = pd.read_csv( 'lieux-2023.csv',sep=';')

In [ ]:
lieux2023=lieux2023.drop_duplicates('Num_Acc')

In [ ]:
lieux2023

,Num_Acc,catr,voie,v1,v2,circ,nbv,vosp,prof,pr,pr1,plan,lartpc,larrout,surf,infra,situ,vma
0,202300000001,4,RUE DE RIVOLI,0,NaN,1,2,0,1,-1,-1,1,NaN,-1,2,0,1,30
2,202300000002,3,120,0,NaN,2,3,2,1,-1,-1,1,NaN,-1,2,0,1,50
3,202300000003,3,5,0,NaN,2,4,0,1,1,0,1,NaN,-1,2,5,1,50
5,202300000004,2,6,0,NaN,2,4,0,1,18,1,1,NaN,12,2,0,1,50
6,202300000005,4,NaN,0,NaN,1,1,0,1,-1,-1,1,NaN,-1,2,0,1,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70855,202300054818,4,LA FONTAINE (RUE JEAN DE),0,NaN,2,2,0,1,-1,0,1,NaN,-1,1,0,1,50
70856,202300054819,4,RN3 (ANCIENNE ROUTE),0,NaN,2,2,0,2,0,0,1,NaN,-1,1,0,1,50
70857,202300054820,4,BAMBOU (CHEMIN DE LA RUELLE),0,NaN,2,2,0,2,0,0,2,NaN,-1,1,0,8,30
70858,202300054821,2,ROUTE NATIONALE 1,0,NaN,-1,2,1,1,4,50,1,NaN,-1,1,0,1,90
70859,202300054822,4,YVES FARGES (BD),0,NaN,2,2,2,1,-1,-1,1,NaN,-1,1,0,5,30

In [ ]:
lieux=pd.concat([lieux2022,lieux2020,lieux2021,lieux2019,lieux2023],axis=0)

## Usagers

In [ ]:
usagers2022 = pd.read_csv( 'usagers-2022.csv',sep=';')
usagers2020 = pd.read_csv( 'usagers-2020.csv',sep=';')
usagers2021 = pd.read_csv( 'usagers-2021.csv',sep=';')
usagers2019 = pd.read_csv( 'usagers-2019.csv',sep=';')
usagers2023 = pd.read_csv( 'usagers-2023.csv',sep=';')

In [ ]:
usagers2022

,Num_Acc,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,202200000001,1Â 099Â 700,813Â 952,A01,1,1,3,1,2008.0,5,2,8,-1,-1,-1,-1
1,202200000001,1Â 099Â 701,813Â 953,B01,1,1,1,1,1948.0,5,1,8,-1,-1,-1,-1
2,202200000002,1Â 099Â 698,813Â 950,B01,1,1,4,1,1988.0,9,1,0,-1,0,0,-1
3,202200000002,1Â 099Â 699,813Â 951,A01,1,1,1,1,1970.0,4,1,0,-1,0,0,-1
4,202200000003,1Â 099Â 696,813Â 948,A01,1,1,1,1,2002.0,0,1,0,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126657,202200055301,968Â 230,715Â 631,A01,1,1,1,2,2002.0,5,1,-1,-1,0,0,-1
126658,202200055301,968Â 231,715Â 631,A01,8,2,3,2,2004.0,5,1,-1,-1,0,0,-1
126659,202200055301,968Â 232,715Â 632,B01,1,1,4,2,1953.0,5,1,-1,-1,0,0,-1
126660,202200055302,968Â 228,715Â 629,A01,1,1,3,1,1992.0,1,2,6,-1,-1,-1,-1
126661,202200055302,968Â 229,715Â 630,B01,1,1,1,1,2000.0,-1,1,-1,-1,-1,-1,-1

In [ ]:
usagers=pd.concat([usagers2022,usagers2020,usagers2021,usagers2019,usagers2023],axis=0)

In [ ]:
usagers

,Num_Acc,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,202200000001,1Â 099Â 700,813Â 952,A01,1,1,3,1,2008.0,5,2,8,-1,-1,-1,-1
1,202200000001,1Â 099Â 701,813Â 953,B01,1,1,1,1,1948.0,5,1,8,-1,-1,-1,-1
2,202200000002,1Â 099Â 698,813Â 950,B01,1,1,4,1,1988.0,9,1,0,-1,0,0,-1
3,202200000002,1Â 099Â 699,813Â 951,A01,1,1,1,1,1970.0,4,1,0,-1,0,0,-1
4,202200000003,1Â 099Â 696,813Â 948,A01,1,1,1,1,2002.0,0,1,0,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125784,202300054821,203Â 720Â 720,155Â 583Â 346,A01,1,1,4,1,1971.0,1,2,0,-1,0,0,-1
125785,202300054821,203Â 720Â 721,155Â 583Â 347,B01,1,1,1,2,1968.0,1,1,0,-1,0,0,-1
125786,202300054822,203Â 720Â 717,155Â 583Â 344,A01,2,2,1,2,2003.0,2,1,-1,-1,-1,-1,-1
125787,202300054822,203Â 720Â 718,155Â 583Â 344,A01,1,1,1,2,2002.0,1,1,-1,-1,-1,-1,-1
125788,202300054822,203Â 720Â 719,155Â 583Â 345,B01,1,1,3,2,1995.0,1,2,-1,-1,-1,-1,-1

In [ ]:
doc3 = pd.merge(doc,lieux, on='Num_Acc')

In [ ]:
doc3

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,...,prof,pr,pr1,plan,lartpc,larrout,surf,infra,situ,vma
0,2.022000e+11,19,10,2022,16:15,1,26,26198,2,3,...,1,(1),(1),1,NaN,-1,1,0,1,50
1,2.022000e+11,20,10,2022,08:34,1,25,25204,2,3,...,1,(1),(1),1,NaN,-1,1,0,1,50
2,2.022000e+11,20,10,2022,17:15,1,22,22360,2,6,...,1,0,0,1,NaN,-1,1,5,1,50
3,2.022000e+11,20,10,2022,18:00,1,16,16102,2,3,...,2,(1),(1),1,NaN,4,1,0,1,30
4,2.022000e+11,19,10,2022,11:45,1,13,13103,1,1,...,1,8,0,1,NaN,-1,1,0,1,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273221,2.023001e+11,26,10,2023,20:45,5,974,97416,2,1,...,1,-1,0,1,NaN,-1,1,0,1,50
273222,2.023001e+11,26,10,2023,19:10,3,974,97416,1,1,...,2,0,0,1,NaN,-1,1,0,1,50
273223,2.023001e+11,26,10,2023,09:40,1,974,97411,2,1,...,2,0,0,2,NaN,-1,1,0,8,30
273224,2.023001e+11,26,10,2023,17:20,1,973,97302,1,6,...,1,4,50,1,NaN,-1,1,0,1,90
273225,2.023001e+11,20,10,2023,16:30,1,69,69387,2,1,...,1,-1,-1,1,NaN,-1,1,0,5,30

In [ ]:
doc3 = pd.merge(doc3, vehi, on='Num_Acc')

In [ ]:
doc3 = pd.merge(doc3,usagers, on='id_vehicule')

In [ ]:
doc3

,Num_Acc_x,jour,mois,an,hrmn,lum,dep,com,agg,int,...,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,2.022000e+11,19,10,2022,16:15,1,26,26198,2,3,...,3,1,2008.0,5,2,8,-1,-1,-1,-1
1,2.022000e+11,19,10,2022,16:15,1,26,26198,2,3,...,1,1,1948.0,5,1,8,-1,-1,-1,-1
2,2.022000e+11,20,10,2022,08:34,1,25,25204,2,3,...,4,1,1988.0,9,1,0,-1,0,0,-1
3,2.022000e+11,20,10,2022,08:34,1,25,25204,2,3,...,1,1,1970.0,4,1,0,-1,0,0,-1
4,2.022000e+11,20,10,2022,17:15,1,22,22360,2,6,...,1,1,2002.0,0,1,0,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619966,2.023001e+11,26,10,2023,17:20,1,973,97302,1,6,...,4,1,1971.0,1,2,0,-1,0,0,-1
619967,2.023001e+11,26,10,2023,17:20,1,973,97302,1,6,...,1,2,1968.0,1,1,0,-1,0,0,-1
619968,2.023001e+11,20,10,2023,16:30,1,69,69387,2,1,...,1,2,2003.0,2,1,-1,-1,-1,-1,-1
619969,2.023001e+11,20,10,2023,16:30,1,69,69387,2,1,...,1,2,2002.0,1,1,-1,-1,-1,-1,-1
619970,2.023001e+11,20,10,2023,16:30,1,69,69387,2,1,...,3,2,1995.0,1,2,-1,-1,-1,-1,-1

In [ ]:
data_lyon=gpd.sjoin(doc3,lyon[['epci_name_u','geometry']]).rename(columns={'epci_name_u': 'epci'})
data_paris=gpd.sjoin(doc3,paris[['epci_name_u','geometry']]).rename(columns={'epci_name_u': 'epci'})

In [ ]:
data_lyon = data_lyon.drop(columns=['num_veh_y','num_veh_x','Num_Acc_y','index_right'])
data_paris = data_paris.drop(columns=['num_veh_y','num_veh_x','Num_Acc_y','index_right'])

In [ ]:
data_paris

,Num_Acc_x,jour,mois,an,hrmn,lum,dep,com,agg,int,...,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp,epci
31,2.022000e+11,21,10,2022,03:16,5,75,75119,2,7,...,-1,NaN,-1,-1,-1,-1,-1,-1,-1,MÃTROPOLE DU GRAND PARIS
32,2.022000e+11,21,10,2022,03:16,5,75,75119,2,7,...,1,1993.0,5,1,0,-1,0,0,-1,MÃTROPOLE DU GRAND PARIS
33,2.022000e+11,21,10,2022,03:16,5,75,75119,2,7,...,2,1991.0,5,1,0,-1,0,0,-1,MÃTROPOLE DU GRAND PARIS
34,2.022000e+11,21,10,2022,03:16,5,75,75119,2,7,...,1,1993.0,9,1,0,-1,0,0,-1,MÃTROPOLE DU GRAND PARIS
35,2.022000e+11,21,10,2022,03:16,5,75,75119,2,7,...,1,1995.0,9,1,0,-1,0,0,-1,MÃTROPOLE DU GRAND PARIS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619942,2.023001e+11,27,10,2023,18:05,3,93,93064,1,1,...,1,2003.0,0,1,0,-1,-1,-1,-1,MÃTROPOLE DU GRAND PARIS
619943,2.023001e+11,27,10,2023,18:05,3,93,93064,1,1,...,1,1988.0,0,2,0,-1,-1,-1,-1,MÃTROPOLE DU GRAND PARIS
619944,2.023001e+11,27,10,2023,18:05,3,93,93064,1,1,...,2,1989.0,0,2,0,-1,-1,-1,-1,MÃTROPOLE DU GRAND PARIS
619945,2.023001e+11,27,10,2023,07:23,2,93,93064,1,1,...,1,1984.0,4,1,0,-1,-1,-1,-1,MÃTROPOLE DU GRAND PARIS
619946,2.023001e+11,27,10,2023,07:23,2,93,93064,1,1,...,1,1994.0,1,2,6,-1,-1,-1,-1,MÃTROPOLE DU GRAND PARIS

In [ ]:
data_concat=pd.concat([data_paris,data_lyon])

In [ ]:
data=data_concat.loc[(data_concat['catu']==1) | (data_concat['catu']==3)]

In [ ]:
data['Vehicle']=''
data.loc[(data['catv'] == 7) | (data['catv'] == 10), 'Vehicle'] = 'Car'
data.loc[data['catv'] == 50, 'Vehicle'] = 'E-scooter'
data.loc[data['catv'] == 80, 'Vehicle'] = 'E-bike'
data.loc[data['catv'] == 1, 'Vehicle'] = 'Bike'
data.loc[(data['catv'].isin([30, 31, 32, 33, 34,2])), 'Vehicle'] = 'Motorcycle'
data.loc[data['catv'].isin([13, 14]), 'Vehicle'] = 'Truck'
data.loc[(data['catv'].isin([37, 38])), 'Vehicle'] = 'Bus'
data.loc[(data['catv'] == 40) , 'Vehicle'] = 'Tram'
data.loc[data['catv'].isin([41, 42, 43]), 'Vehicle'] = 'Three-wheeled motorized'
data.loc[data['catv'] == 60, 'Vehicle'] = 'Mechanical PMD'
data.loc[data['catu'] == 3, 'Vehicle'] = 'Pedestrian'

/Users/martin.dejaeghere/TFE_2/newenv/lib/python3.12/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

In [ ]:
data = data[data['Vehicle'] != '']

In [ ]:
result=data.groupby('Num_Acc_x')['Vehicle'].apply(lambda x: ', '.join(x)).reset_index()

filtered_result = result[result['Vehicle'].str.contains('e-scooter|ebike|bike', case=False)]

In [ ]:
filtered_result.rename(columns={'Vehicle': 'Accident'}, inplace=True)

/var/folders/y0/0nrj3m412p978185q3d2503sr02q24/T/ipykernel_2230/3730539010.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_result.rename(columns={'Vehicle': 'Accident'}, inplace=True)

In [ ]:
data2=pd.merge(data,filtered_result,on='Num_Acc_x')

In [ ]:
def replace_vehicle(row):
    accident_list = row['Accident'].split(', ')
    # Enlever le vÃ©hicule principal
    accident_list.remove(row['Vehicle'])
    # Rejoindre les vÃ©hicules restants dans une chaÃ®ne
    return ', '.join(accident_list)

# Appliquer la fonction Ã  chaque ligne
data2['Involved vehicles'] = data2.apply(replace_vehicle, axis=1)
data2['Involved vehicles'] = data2['Involved vehicles'].replace('',np.nan)

data2['number of involved vehicles'] = data2['Involved vehicles'].apply(lambda x: len(x.split(', ')) if pd.notna(x) else 0) + 1
data2=data2.drop(data2.loc[data2['number of involved vehicles'] > 5].index)

# SÃ©parer la colonne 'Involved vehicles' en plusieurs colonnes
vehicles_split = data2['Involved vehicles'].str.split(', ', expand=True)

# Ajouter des noms de colonnes appropriÃ©s
vehicles_split.columns = [f'Involved vehicle {i+1}' for i in range(vehicles_split.shape[1])]

# Ajouter une colonne 'number of involved vehicles'

# ConcatÃ©ner les colonnes sÃ©parÃ©es avec la DataFrame originale
data_acci = pd.concat([data2.drop(columns=['Involved vehicles']), vehicles_split], axis=1)

In [ ]:
data_concat

,Num_Acc_x,jour,mois,an,hrmn,lum,dep,com,agg,int,...,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp,epci
31,2.022000e+11,21,10,2022,03:16,5,75,75119,2,7,...,-1,NaN,-1,-1,-1,-1,-1,-1,-1,MÃTROPOLE DU GRAND PARIS
32,2.022000e+11,21,10,2022,03:16,5,75,75119,2,7,...,1,1993.0,5,1,0,-1,0,0,-1,MÃTROPOLE DU GRAND PARIS
33,2.022000e+11,21,10,2022,03:16,5,75,75119,2,7,...,2,1991.0,5,1,0,-1,0,0,-1,MÃTROPOLE DU GRAND PARIS
34,2.022000e+11,21,10,2022,03:16,5,75,75119,2,7,...,1,1993.0,9,1,0,-1,0,0,-1,MÃTROPOLE DU GRAND PARIS
35,2.022000e+11,21,10,2022,03:16,5,75,75119,2,7,...,1,1995.0,9,1,0,-1,0,0,-1,MÃTROPOLE DU GRAND PARIS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619900,2.023001e+11,13,7,2023,07:50,1,69,69266,2,2,...,1,1990.0,1,8,-1,-1,-1,-1,-1,MÃTROPOLE DE LYON
619910,2.023001e+11,13,7,2023,18:40,1,69,69290,2,3,...,1,1951.0,5,1,-1,-1,-1,-1,-1,MÃTROPOLE DE LYON
619968,2.023001e+11,20,10,2023,16:30,1,69,69387,2,1,...,2,2003.0,2,1,-1,-1,-1,-1,-1,MÃTROPOLE DE LYON
619969,2.023001e+11,20,10,2023,16:30,1,69,69387,2,1,...,2,2002.0,1,1,-1,-1,-1,-1,-1,MÃTROPOLE DE LYON
619970,2.023001e+11,20,10,2023,16:30,1,69,69387,2,1,...,2,1995.0,1,2,-1,-1,-1,-1,-1,MÃTROPOLE DE LYON

In [ ]:
data_acci_selected = data_acci[data_acci['Vehicle'] != 'Pedestrian'][['id_vehicule', 'Vehicle', 'Accident',
                                                                      'number of involved vehicles',
                                                                      'Involved vehicle 1', 'Involved vehicle 2',
                                                                      'Involved vehicle 3', 'Involved vehicle 4']]


# Fusion des DataFrames sur la colonne 'id_vehicule'
data_acci = pd.merge(data_concat, data_acci_selected, on='id_vehicule')
data_acci.loc[data_acci['catu'] == 3, 'Vehicle'] = 'Pedestrian'

In [ ]:
data_acci.to_file('data_acci.gpkg')

In [ ]:
data_acci

,Num_Acc_x,jour,mois,an,hrmn,lum,dep,com,agg,int,...,actp,etatp,epci,Vehicle,Accident,number of involved vehicles,Involved vehicle 1,Involved vehicle 2,Involved vehicle 3,Involved vehicle 4
0,2.022000e+11,21,10,2022,16:32,1,75,75106,2,1,...,0,-1,MÃTROPOLE DU GRAND PARIS,Car,"Car, Bike",2,Bike,None,None,None
1,2.022000e+11,21,10,2022,16:32,1,75,75106,2,1,...,0,-1,MÃTROPOLE DU GRAND PARIS,Bike,"Car, Bike",2,Car,None,None,None
2,2.022000e+11,20,10,2022,13:00,1,75,75105,2,2,...,0,-1,MÃTROPOLE DU GRAND PARIS,Car,"Car, Bike",2,Bike,None,None,None
3,2.022000e+11,20,10,2022,13:00,1,75,75105,2,2,...,0,-1,MÃTROPOLE DU GRAND PARIS,Bike,"Car, Bike",2,Car,None,None,None
4,2.022000e+11,21,10,2022,11:25,1,75,75113,2,4,...,-1,-1,MÃTROPOLE DU GRAND PARIS,Bike,Bike,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25655,2.023001e+11,13,7,2023,07:50,1,69,69266,2,2,...,-1,-1,MÃTROPOLE DE LYON,Car,"Car, E-scooter",2,E-scooter,None,None,None
25656,2.023001e+11,13,7,2023,07:50,1,69,69266,2,2,...,-1,-1,MÃTROPOLE DE LYON,E-scooter,"Car, E-scooter",2,Car,None,None,None
25657,2.023001e+11,20,10,2023,16:30,1,69,69387,2,1,...,-1,-1,MÃTROPOLE DE LYON,Car,"Car, E-scooter",2,E-scooter,None,None,None
25658,2.023001e+11,20,10,2023,16:30,1,69,69387,2,1,...,-1,-1,MÃTROPOLE DE LYON,Car,"Car, E-scooter",2,E-scooter,None,None,None
25659,2.023001e+11,20,10,2023,16:30,1,69,69387,2,1,...,-1,-1,MÃTROPOLE DE LYON,E-scooter,"Car, E-scooter",2,Car,None,None,None

In [ ]:
data_acci.loc[data_acci['epci']== 'MÃTROPOLE DE LYON'].to_file('data_lyon.gpkg')
data_acci.loc[data_acci['epci']== 'MÃTROPOLE DU GRAND PARIS'].to_file('data_paris.gpkg')

In [ ]:
data_acci.to_crs('EPSG:4326').to_file('data_acci.geojson')

In [ ]:
data_acci

,Num_Acc_x,jour,mois,an,hrmn,lum,dep,com,agg,int,...,actp,etatp,epci,Vehicle,Accident,number of involved vehicles,Involved vehicle 1,Involved vehicle 2,Involved vehicle 3,Involved vehicle 4
0,2.022000e+11,21,10,2022,16:32,1,75,75106,2,1,...,0,-1,MÃTROPOLE DU GRAND PARIS,Car,"Car, Bike",2,Bike,None,None,None
1,2.022000e+11,21,10,2022,16:32,1,75,75106,2,1,...,0,-1,MÃTROPOLE DU GRAND PARIS,Bike,"Car, Bike",2,Car,None,None,None
2,2.022000e+11,20,10,2022,13:00,1,75,75105,2,2,...,0,-1,MÃTROPOLE DU GRAND PARIS,Car,"Car, Bike",2,Bike,None,None,None
3,2.022000e+11,20,10,2022,13:00,1,75,75105,2,2,...,0,-1,MÃTROPOLE DU GRAND PARIS,Bike,"Car, Bike",2,Car,None,None,None
4,2.022000e+11,21,10,2022,11:25,1,75,75113,2,4,...,-1,-1,MÃTROPOLE DU GRAND PARIS,Bike,Bike,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25655,2.023001e+11,13,7,2023,07:50,1,69,69266,2,2,...,-1,-1,MÃTROPOLE DE LYON,Car,"Car, E-scooter",2,E-scooter,None,None,None
25656,2.023001e+11,13,7,2023,07:50,1,69,69266,2,2,...,-1,-1,MÃTROPOLE DE LYON,E-scooter,"Car, E-scooter",2,Car,None,None,None
25657,2.023001e+11,20,10,2023,16:30,1,69,69387,2,1,...,-1,-1,MÃTROPOLE DE LYON,Car,"Car, E-scooter",2,E-scooter,None,None,None
25658,2.023001e+11,20,10,2023,16:30,1,69,69387,2,1,...,-1,-1,MÃTROPOLE DE LYON,Car,"Car, E-scooter",2,E-scooter,None,None,None
25659,2.023001e+11,20,10,2023,16:30,1,69,69387,2,1,...,-1,-1,MÃTROPOLE DE LYON,E-scooter,"Car, E-scooter",2,Car,None,None,None