In [3]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point
import numpy as np

## Caractéristiques

In [6]:
import pandas as pd

doc2019 = pd.read_csv(
    "https://static.data.gouv.fr/resources/base-de-donnees-accidents-corporels-de-la-circulation/20201105-104400/caracteristiques-2019.csv",
    sep=";"
)

doc2020 = pd.read_csv(
    "https://static.data.gouv.fr/resources/bases-de-donnees-annuelles-des-accidents-corporels-de-la-circulation-routiere-annees-de-2005-a-2019/20211110-111202/caracteristiques-2020.csv",
    sep=";"
)

doc2021 = pd.read_csv("https://static.data.gouv.fr/resources/bases-de-donnees-annuelles-des-accidents-corporels-de-la-circulation-routiere-annees-de-2005-a-2020/20221024-113743/carcteristiques-2021.csv",
    sep=";")

In [ ]:
doc2022.rename(columns={'Accident_Id': 'Num_Acc'}, inplace=True)

In [ ]:
doc=pd.concat([doc2022,doc2020,doc2021,doc2019,doc2023],axis=0)

In [ ]:
# Convert 'Accident_Id' values to integers
doc['Num_Acc'] = doc['Num_Acc'].astype(str)
doc['Num_Acc'] = doc['Num_Acc'].replace(" ", "")

In [ ]:
doc['lat']=doc['lat'].str.replace(',', '.')
doc['long']=doc['long'].str.replace(',', '.')

In [ ]:
doc['lat']=doc['lat'].astype(float)
doc['long']=doc['long'].astype(float)

In [ ]:
doc['Num_Acc']=doc['Num_Acc'].str.replace(',', '.')
doc['Num_Acc']=doc['Num_Acc'].astype(float)

In [ ]:
paris=gpd.read_file('paris.geojson')

Skipping field reg_code: unsupported OGR type: 5
Skipping field reg_name: unsupported OGR type: 5
Skipping field dep_code: unsupported OGR type: 5
Skipping field dep_name: unsupported OGR type: 5
Skipping field epci_code: unsupported OGR type: 5
Skipping field epci_curren: unsupported OGR type: 5
Skipping field epci_name: unsupported OGR type: 5

In [ ]:
lyon=gpd.read_file('MDL.geojson')

Skipping field reg_code: unsupported OGR type: 5
Skipping field reg_name: unsupported OGR type: 5
Skipping field dep_code: unsupported OGR type: 5
Skipping field dep_name: unsupported OGR type: 5
Skipping field epci_code: unsupported OGR type: 5
Skipping field epci_curren: unsupported OGR type: 5
Skipping field epci_name: unsupported OGR type: 5

In [ ]:
geometry = [Point(xy) for xy in zip(doc['long'], doc['lat'])]

# Créez le GeoDataFrame en spécifiant la colonne de géométrie
doc = gpd.GeoDataFrame(doc, geometry=geometry, crs='EPSG:4326')

## Véhicles

In [ ]:
vehi2022 = pd.read_csv( 'vehicules-2022.csv',sep=';')
vehi2021 = pd.read_csv( 'vehicules-2021.csv',sep=';')
vehi2020 = pd.read_csv( 'vehicules-2020.csv',sep=';')
vehi2019 = pd.read_csv( 'vehicules-2019.csv',sep=';')
vehi2023 = pd.read_csv( 'vehicules-2023.csv',sep=';')

In [ ]:
vehi=pd.concat([vehi2022,vehi2020,vehi2021,vehi2019,vehi2023],axis=0)

In [ ]:
vehi['Num_Acc']=vehi['Num_Acc'].astype(float)

# Lieux

In [ ]:
lieux2022 = pd.read_csv( 'lieux-2022.csv',sep=';')
lieux2020 = pd.read_csv( 'lieux-2020.csv',sep=';')
lieux2021 = pd.read_csv( 'lieux-2021.csv',sep=';')
lieux2019 = pd.read_csv( 'lieux-2019.csv',sep=';')
lieux2023 = pd.read_csv( 'lieux-2023.csv',sep=';')

/var/folders/y0/0nrj3m412p978185q3d2503sr02q24/T/ipykernel_2230/3516074304.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  lieux2022 = pd.read_csv( 'lieux-2022.csv',sep=';')
/var/folders/y0/0nrj3m412p978185q3d2503sr02q24/T/ipykernel_2230/3516074304.py:5: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  lieux2023 = pd.read_csv( 'lieux-2023.csv',sep=';')

In [ ]:
lieux2023=lieux2023.drop_duplicates('Num_Acc')

In [ ]:
lieux2023

,Num_Acc,catr,voie,v1,v2,circ,nbv,vosp,prof,pr,pr1,plan,lartpc,larrout,surf,infra,situ,vma
0,202300000001,4,RUE DE RIVOLI,0,NaN,1,2,0,1,-1,-1,1,NaN,-1,2,0,1,30
2,202300000002,3,120,0,NaN,2,3,2,1,-1,-1,1,NaN,-1,2,0,1,50
3,202300000003,3,5,0,NaN,2,4,0,1,1,0,1,NaN,-1,2,5,1,50
5,202300000004,2,6,0,NaN,2,4,0,1,18,1,1,NaN,12,2,0,1,50
6,202300000005,4,NaN,0,NaN,1,1,0,1,-1,-1,1,NaN,-1,2,0,1,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70855,202300054818,4,LA FONTAINE (RUE JEAN DE),0,NaN,2,2,0,1,-1,0,1,NaN,-1,1,0,1,50
70856,202300054819,4,RN3 (ANCIENNE ROUTE),0,NaN,2,2,0,2,0,0,1,NaN,-1,1,0,1,50
70857,202300054820,4,BAMBOU (CHEMIN DE LA RUELLE),0,NaN,2,2,0,2,0,0,2,NaN,-1,1,0,8,30
70858,202300054821,2,ROUTE NATIONALE 1,0,NaN,-1,2,1,1,4,50,1,NaN,-1,1,0,1,90
70859,202300054822,4,YVES FARGES (BD),0,NaN,2,2,2,1,-1,-1,1,NaN,-1,1,0,5,30

In [ ]:
lieux=pd.concat([lieux2022,lieux2020,lieux2021,lieux2019,lieux2023],axis=0)

## Usagers

In [ ]:
usagers2022 = pd.read_csv( 'usagers-2022.csv',sep=';')
usagers2020 = pd.read_csv( 'usagers-2020.csv',sep=';')
usagers2021 = pd.read_csv( 'usagers-2021.csv',sep=';')
usagers2019 = pd.read_csv( 'usagers-2019.csv',sep=';')
usagers2023 = pd.read_csv( 'usagers-2023.csv',sep=';')

In [ ]:
usagers2022

,Num_Acc,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,202200000001,1 099 700,813 952,A01,1,1,3,1,2008.0,5,2,8,-1,-1,-1,-1
1,202200000001,1 099 701,813 953,B01,1,1,1,1,1948.0,5,1,8,-1,-1,-1,-1
2,202200000002,1 099 698,813 950,B01,1,1,4,1,1988.0,9,1,0,-1,0,0,-1
3,202200000002,1 099 699,813 951,A01,1,1,1,1,1970.0,4,1,0,-1,0,0,-1
4,202200000003,1 099 696,813 948,A01,1,1,1,1,2002.0,0,1,0,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126657,202200055301,968 230,715 631,A01,1,1,1,2,2002.0,5,1,-1,-1,0,0,-1
126658,202200055301,968 231,715 631,A01,8,2,3,2,2004.0,5,1,-1,-1,0,0,-1
126659,202200055301,968 232,715 632,B01,1,1,4,2,1953.0,5,1,-1,-1,0,0,-1
126660,202200055302,968 228,715 629,A01,1,1,3,1,1992.0,1,2,6,-1,-1,-1,-1
126661,202200055302,968 229,715 630,B01,1,1,1,1,2000.0,-1,1,-1,-1,-1,-1,-1

In [ ]:
usagers=pd.concat([usagers2022,usagers2020,usagers2021,usagers2019,usagers2023],axis=0)

In [ ]:
usagers

,Num_Acc,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,202200000001,1 099 700,813 952,A01,1,1,3,1,2008.0,5,2,8,-1,-1,-1,-1
1,202200000001,1 099 701,813 953,B01,1,1,1,1,1948.0,5,1,8,-1,-1,-1,-1
2,202200000002,1 099 698,813 950,B01,1,1,4,1,1988.0,9,1,0,-1,0,0,-1
3,202200000002,1 099 699,813 951,A01,1,1,1,1,1970.0,4,1,0,-1,0,0,-1
4,202200000003,1 099 696,813 948,A01,1,1,1,1,2002.0,0,1,0,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125784,202300054821,203 720 720,155 583 346,A01,1,1,4,1,1971.0,1,2,0,-1,0,0,-1
125785,202300054821,203 720 721,155 583 347,B01,1,1,1,2,1968.0,1,1,0,-1,0,0,-1
125786,202300054822,203 720 717,155 583 344,A01,2,2,1,2,2003.0,2,1,-1,-1,-1,-1,-1
125787,202300054822,203 720 718,155 583 344,A01,1,1,1,2,2002.0,1,1,-1,-1,-1,-1,-1
125788,202300054822,203 720 719,155 583 345,B01,1,1,3,2,1995.0,1,2,-1,-1,-1,-1,-1

In [ ]:
doc3 = pd.merge(doc,lieux, on='Num_Acc')

In [ ]:
doc3

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,...,prof,pr,pr1,plan,lartpc,larrout,surf,infra,situ,vma
0,2.022000e+11,19,10,2022,16:15,1,26,26198,2,3,...,1,(1),(1),1,NaN,-1,1,0,1,50
1,2.022000e+11,20,10,2022,08:34,1,25,25204,2,3,...,1,(1),(1),1,NaN,-1,1,0,1,50
2,2.022000e+11,20,10,2022,17:15,1,22,22360,2,6,...,1,0,0,1,NaN,-1,1,5,1,50
3,2.022000e+11,20,10,2022,18:00,1,16,16102,2,3,...,2,(1),(1),1,NaN,4,1,0,1,30
4,2.022000e+11,19,10,2022,11:45,1,13,13103,1,1,...,1,8,0,1,NaN,-1,1,0,1,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273221,2.023001e+11,26,10,2023,20:45,5,974,97416,2,1,...,1,-1,0,1,NaN,-1,1,0,1,50
273222,2.023001e+11,26,10,2023,19:10,3,974,97416,1,1,...,2,0,0,1,NaN,-1,1,0,1,50
273223,2.023001e+11,26,10,2023,09:40,1,974,97411,2,1,...,2,0,0,2,NaN,-1,1,0,8,30
273224,2.023001e+11,26,10,2023,17:20,1,973,97302,1,6,...,1,4,50,1,NaN,-1,1,0,1,90
273225,2.023001e+11,20,10,2023,16:30,1,69,69387,2,1,...,1,-1,-1,1,NaN,-1,1,0,5,30

In [ ]:
doc3 = pd.merge(doc3, vehi, on='Num_Acc')

In [ ]:
doc3 = pd.merge(doc3,usagers, on='id_vehicule')

In [ ]:
doc3

,Num_Acc_x,jour,mois,an,hrmn,lum,dep,com,agg,int,...,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,2.022000e+11,19,10,2022,16:15,1,26,26198,2,3,...,3,1,2008.0,5,2,8,-1,-1,-1,-1
1,2.022000e+11,19,10,2022,16:15,1,26,26198,2,3,...,1,1,1948.0,5,1,8,-1,-1,-1,-1
2,2.022000e+11,20,10,2022,08:34,1,25,25204,2,3,...,4,1,1988.0,9,1,0,-1,0,0,-1
3,2.022000e+11,20,10,2022,08:34,1,25,25204,2,3,...,1,1,1970.0,4,1,0,-1,0,0,-1
4,2.022000e+11,20,10,2022,17:15,1,22,22360,2,6,...,1,1,2002.0,0,1,0,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619966,2.023001e+11,26,10,2023,17:20,1,973,97302,1,6,...,4,1,1971.0,1,2,0,-1,0,0,-1
619967,2.023001e+11,26,10,2023,17:20,1,973,97302,1,6,...,1,2,1968.0,1,1,0,-1,0,0,-1
619968,2.023001e+11,20,10,2023,16:30,1,69,69387,2,1,...,1,2,2003.0,2,1,-1,-1,-1,-1,-1
619969,2.023001e+11,20,10,2023,16:30,1,69,69387,2,1,...,1,2,2002.0,1,1,-1,-1,-1,-1,-1
619970,2.023001e+11,20,10,2023,16:30,1,69,69387,2,1,...,3,2,1995.0,1,2,-1,-1,-1,-1,-1

In [ ]:
data_lyon=gpd.sjoin(doc3,lyon[['epci_name_u','geometry']]).rename(columns={'epci_name_u': 'epci'})
data_paris=gpd.sjoin(doc3,paris[['epci_name_u','geometry']]).rename(columns={'epci_name_u': 'epci'})

In [ ]:
data_lyon = data_lyon.drop(columns=['num_veh_y','num_veh_x','Num_Acc_y','index_right'])
data_paris = data_paris.drop(columns=['num_veh_y','num_veh_x','Num_Acc_y','index_right'])

In [ ]:
data_paris

,Num_Acc_x,jour,mois,an,hrmn,lum,dep,com,agg,int,...,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp,epci
31,2.022000e+11,21,10,2022,03:16,5,75,75119,2,7,...,-1,NaN,-1,-1,-1,-1,-1,-1,-1,MÉTROPOLE DU GRAND PARIS
32,2.022000e+11,21,10,2022,03:16,5,75,75119,2,7,...,1,1993.0,5,1,0,-1,0,0,-1,MÉTROPOLE DU GRAND PARIS
33,2.022000e+11,21,10,2022,03:16,5,75,75119,2,7,...,2,1991.0,5,1,0,-1,0,0,-1,MÉTROPOLE DU GRAND PARIS
34,2.022000e+11,21,10,2022,03:16,5,75,75119,2,7,...,1,1993.0,9,1,0,-1,0,0,-1,MÉTROPOLE DU GRAND PARIS
35,2.022000e+11,21,10,2022,03:16,5,75,75119,2,7,...,1,1995.0,9,1,0,-1,0,0,-1,MÉTROPOLE DU GRAND PARIS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619942,2.023001e+11,27,10,2023,18:05,3,93,93064,1,1,...,1,2003.0,0,1,0,-1,-1,-1,-1,MÉTROPOLE DU GRAND PARIS
619943,2.023001e+11,27,10,2023,18:05,3,93,93064,1,1,...,1,1988.0,0,2,0,-1,-1,-1,-1,MÉTROPOLE DU GRAND PARIS
619944,2.023001e+11,27,10,2023,18:05,3,93,93064,1,1,...,2,1989.0,0,2,0,-1,-1,-1,-1,MÉTROPOLE DU GRAND PARIS
619945,2.023001e+11,27,10,2023,07:23,2,93,93064,1,1,...,1,1984.0,4,1,0,-1,-1,-1,-1,MÉTROPOLE DU GRAND PARIS
619946,2.023001e+11,27,10,2023,07:23,2,93,93064,1,1,...,1,1994.0,1,2,6,-1,-1,-1,-1,MÉTROPOLE DU GRAND PARIS

In [ ]:
data_concat=pd.concat([data_paris,data_lyon])

In [ ]:
data=data_concat.loc[(data_concat['catu']==1) | (data_concat['catu']==3)]

In [ ]:
data['Vehicle']=''
data.loc[(data['catv'] == 7) | (data['catv'] == 10), 'Vehicle'] = 'Car'
data.loc[data['catv'] == 50, 'Vehicle'] = 'E-scooter'
data.loc[data['catv'] == 80, 'Vehicle'] = 'E-bike'
data.loc[data['catv'] == 1, 'Vehicle'] = 'Bike'
data.loc[(data['catv'].isin([30, 31, 32, 33, 34,2])), 'Vehicle'] = 'Motorcycle'
data.loc[data['catv'].isin([13, 14]), 'Vehicle'] = 'Truck'
data.loc[(data['catv'].isin([37, 38])), 'Vehicle'] = 'Bus'
data.loc[(data['catv'] == 40) , 'Vehicle'] = 'Tram'
data.loc[data['catv'].isin([41, 42, 43]), 'Vehicle'] = 'Three-wheeled motorized'
data.loc[data['catv'] == 60, 'Vehicle'] = 'Mechanical PMD'
data.loc[data['catu'] == 3, 'Vehicle'] = 'Pedestrian'

/Users/martin.dejaeghere/TFE_2/newenv/lib/python3.12/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

In [ ]:
data = data[data['Vehicle'] != '']

In [ ]:
result=data.groupby('Num_Acc_x')['Vehicle'].apply(lambda x: ', '.join(x)).reset_index()

filtered_result = result[result['Vehicle'].str.contains('e-scooter|ebike|bike', case=False)]

In [ ]:
filtered_result.rename(columns={'Vehicle': 'Accident'}, inplace=True)

/var/folders/y0/0nrj3m412p978185q3d2503sr02q24/T/ipykernel_2230/3730539010.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_result.rename(columns={'Vehicle': 'Accident'}, inplace=True)

In [ ]:
data2=pd.merge(data,filtered_result,on='Num_Acc_x')

In [ ]:
def replace_vehicle(row):
    accident_list = row['Accident'].split(', ')
    # Enlever le véhicule principal
    accident_list.remove(row['Vehicle'])
    # Rejoindre les véhicules restants dans une chaîne
    return ', '.join(accident_list)

# Appliquer la fonction à chaque ligne
data2['Involved vehicles'] = data2.apply(replace_vehicle, axis=1)
data2['Involved vehicles'] = data2['Involved vehicles'].replace('',np.nan)

data2['number of involved vehicles'] = data2['Involved vehicles'].apply(lambda x: len(x.split(', ')) if pd.notna(x) else 0) + 1
data2=data2.drop(data2.loc[data2['number of involved vehicles'] > 5].index)

# Séparer la colonne 'Involved vehicles' en plusieurs colonnes
vehicles_split = data2['Involved vehicles'].str.split(', ', expand=True)

# Ajouter des noms de colonnes appropriés
vehicles_split.columns = [f'Involved vehicle {i+1}' for i in range(vehicles_split.shape[1])]

# Ajouter une colonne 'number of involved vehicles'

# Concaténer les colonnes séparées avec la DataFrame originale
data_acci = pd.concat([data2.drop(columns=['Involved vehicles']), vehicles_split], axis=1)

In [ ]:
data_concat

,Num_Acc_x,jour,mois,an,hrmn,lum,dep,com,agg,int,...,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp,epci
31,2.022000e+11,21,10,2022,03:16,5,75,75119,2,7,...,-1,NaN,-1,-1,-1,-1,-1,-1,-1,MÉTROPOLE DU GRAND PARIS
32,2.022000e+11,21,10,2022,03:16,5,75,75119,2,7,...,1,1993.0,5,1,0,-1,0,0,-1,MÉTROPOLE DU GRAND PARIS
33,2.022000e+11,21,10,2022,03:16,5,75,75119,2,7,...,2,1991.0,5,1,0,-1,0,0,-1,MÉTROPOLE DU GRAND PARIS
34,2.022000e+11,21,10,2022,03:16,5,75,75119,2,7,...,1,1993.0,9,1,0,-1,0,0,-1,MÉTROPOLE DU GRAND PARIS
35,2.022000e+11,21,10,2022,03:16,5,75,75119,2,7,...,1,1995.0,9,1,0,-1,0,0,-1,MÉTROPOLE DU GRAND PARIS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619900,2.023001e+11,13,7,2023,07:50,1,69,69266,2,2,...,1,1990.0,1,8,-1,-1,-1,-1,-1,MÉTROPOLE DE LYON
619910,2.023001e+11,13,7,2023,18:40,1,69,69290,2,3,...,1,1951.0,5,1,-1,-1,-1,-1,-1,MÉTROPOLE DE LYON
619968,2.023001e+11,20,10,2023,16:30,1,69,69387,2,1,...,2,2003.0,2,1,-1,-1,-1,-1,-1,MÉTROPOLE DE LYON
619969,2.023001e+11,20,10,2023,16:30,1,69,69387,2,1,...,2,2002.0,1,1,-1,-1,-1,-1,-1,MÉTROPOLE DE LYON
619970,2.023001e+11,20,10,2023,16:30,1,69,69387,2,1,...,2,1995.0,1,2,-1,-1,-1,-1,-1,MÉTROPOLE DE LYON

In [ ]:
data_acci_selected = data_acci[data_acci['Vehicle'] != 'Pedestrian'][['id_vehicule', 'Vehicle', 'Accident',
                                                                      'number of involved vehicles',
                                                                      'Involved vehicle 1', 'Involved vehicle 2',
                                                                      'Involved vehicle 3', 'Involved vehicle 4']]


# Fusion des DataFrames sur la colonne 'id_vehicule'
data_acci = pd.merge(data_concat, data_acci_selected, on='id_vehicule')
data_acci.loc[data_acci['catu'] == 3, 'Vehicle'] = 'Pedestrian'

In [ ]:
data_acci.to_file('data_acci.gpkg')

In [ ]:
data_acci

,Num_Acc_x,jour,mois,an,hrmn,lum,dep,com,agg,int,...,actp,etatp,epci,Vehicle,Accident,number of involved vehicles,Involved vehicle 1,Involved vehicle 2,Involved vehicle 3,Involved vehicle 4
0,2.022000e+11,21,10,2022,16:32,1,75,75106,2,1,...,0,-1,MÉTROPOLE DU GRAND PARIS,Car,"Car, Bike",2,Bike,None,None,None
1,2.022000e+11,21,10,2022,16:32,1,75,75106,2,1,...,0,-1,MÉTROPOLE DU GRAND PARIS,Bike,"Car, Bike",2,Car,None,None,None
2,2.022000e+11,20,10,2022,13:00,1,75,75105,2,2,...,0,-1,MÉTROPOLE DU GRAND PARIS,Car,"Car, Bike",2,Bike,None,None,None
3,2.022000e+11,20,10,2022,13:00,1,75,75105,2,2,...,0,-1,MÉTROPOLE DU GRAND PARIS,Bike,"Car, Bike",2,Car,None,None,None
4,2.022000e+11,21,10,2022,11:25,1,75,75113,2,4,...,-1,-1,MÉTROPOLE DU GRAND PARIS,Bike,Bike,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25655,2.023001e+11,13,7,2023,07:50,1,69,69266,2,2,...,-1,-1,MÉTROPOLE DE LYON,Car,"Car, E-scooter",2,E-scooter,None,None,None
25656,2.023001e+11,13,7,2023,07:50,1,69,69266,2,2,...,-1,-1,MÉTROPOLE DE LYON,E-scooter,"Car, E-scooter",2,Car,None,None,None
25657,2.023001e+11,20,10,2023,16:30,1,69,69387,2,1,...,-1,-1,MÉTROPOLE DE LYON,Car,"Car, E-scooter",2,E-scooter,None,None,None
25658,2.023001e+11,20,10,2023,16:30,1,69,69387,2,1,...,-1,-1,MÉTROPOLE DE LYON,Car,"Car, E-scooter",2,E-scooter,None,None,None
25659,2.023001e+11,20,10,2023,16:30,1,69,69387,2,1,...,-1,-1,MÉTROPOLE DE LYON,E-scooter,"Car, E-scooter",2,Car,None,None,None

In [ ]:
data_acci.loc[data_acci['epci']== 'MÉTROPOLE DE LYON'].to_file('data_lyon.gpkg')
data_acci.loc[data_acci['epci']== 'MÉTROPOLE DU GRAND PARIS'].to_file('data_paris.gpkg')

In [ ]:
data_acci.to_crs('EPSG:4326').to_file('data_acci.geojson')

In [ ]:
data_acci

,Num_Acc_x,jour,mois,an,hrmn,lum,dep,com,agg,int,...,actp,etatp,epci,Vehicle,Accident,number of involved vehicles,Involved vehicle 1,Involved vehicle 2,Involved vehicle 3,Involved vehicle 4
0,2.022000e+11,21,10,2022,16:32,1,75,75106,2,1,...,0,-1,MÉTROPOLE DU GRAND PARIS,Car,"Car, Bike",2,Bike,None,None,None
1,2.022000e+11,21,10,2022,16:32,1,75,75106,2,1,...,0,-1,MÉTROPOLE DU GRAND PARIS,Bike,"Car, Bike",2,Car,None,None,None
2,2.022000e+11,20,10,2022,13:00,1,75,75105,2,2,...,0,-1,MÉTROPOLE DU GRAND PARIS,Car,"Car, Bike",2,Bike,None,None,None
3,2.022000e+11,20,10,2022,13:00,1,75,75105,2,2,...,0,-1,MÉTROPOLE DU GRAND PARIS,Bike,"Car, Bike",2,Car,None,None,None
4,2.022000e+11,21,10,2022,11:25,1,75,75113,2,4,...,-1,-1,MÉTROPOLE DU GRAND PARIS,Bike,Bike,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25655,2.023001e+11,13,7,2023,07:50,1,69,69266,2,2,...,-1,-1,MÉTROPOLE DE LYON,Car,"Car, E-scooter",2,E-scooter,None,None,None
25656,2.023001e+11,13,7,2023,07:50,1,69,69266,2,2,...,-1,-1,MÉTROPOLE DE LYON,E-scooter,"Car, E-scooter",2,Car,None,None,None
25657,2.023001e+11,20,10,2023,16:30,1,69,69387,2,1,...,-1,-1,MÉTROPOLE DE LYON,Car,"Car, E-scooter",2,E-scooter,None,None,None
25658,2.023001e+11,20,10,2023,16:30,1,69,69387,2,1,...,-1,-1,MÉTROPOLE DE LYON,Car,"Car, E-scooter",2,E-scooter,None,None,None
25659,2.023001e+11,20,10,2023,16:30,1,69,69387,2,1,...,-1,-1,MÉTROPOLE DE LYON,E-scooter,"Car, E-scooter",2,Car,None,None,None

In [1]:
import pandas as pd
import geopandas as gpd

In [ ]:
accidents_lyon=gpd.read_file('acci_lyon.geojson')
accidents_paris=gpd.read_file('acci_paris.geojson')
data_lyon=gpd.read_file('data_lyon.gpkg')
data_paris=gpd.read_file('data_paris.gpkg')

In [ ]:
paris=pd.merge(data_paris,accidents_paris.drop(columns=['int','geometry']),on='Num_Acc_x',how='left')
lyon=pd.merge(data_lyon,accidents_lyon.drop(columns=['int','geometry']),on='Num_Acc_x',how='left')
paris.rename(columns={'Num_Acc_x':'Num_Acc'},inplace=True)
lyon.rename(columns={'Num_Acc_x':'Num_Acc'},inplace=True)
paris=paris.rename(columns={'EPCI_name_u':'ville'})

In [ ]:
# Combine the data from Paris and Lyon into a single DataFrame
acci = pd.concat([paris, lyon])

In [10]:
"""
Cell generated by Data Wrangler.
"""
def clean_data(acci):
    # Drop column: 'dep'
    acci = acci.drop(columns=['dep'])
    # Drop column: 'agg'
    acci = acci.drop(columns=['agg'])
    # Drop column: 'occutc'
    acci = acci.drop(columns=['occutc'])


    # Drop column: 'secu3'
    acci = acci.drop(columns=['secu3'])
    # Drop column: 'v2'
    acci = acci.drop(columns=['v2'])
    # Drop column: 'v1'
    acci = acci.drop(columns=['v1'])
    # Drop column: 'pr1'
    acci = acci.drop(columns=['pr1'])
    # Drop column: 'pr'
    acci = acci.drop(columns=['pr'])
    # Drop column: 'lartpc'
    acci = acci.drop(columns=['lartpc'])
    # Drop column: 'larrout'
    acci = acci.drop(columns=['larrout'])
    return acci

acci_clean = clean_data(acci.copy())
acci_clean.head()

,Num_Acc,jour,mois,an,hrmn,lum,com,int,atm,col,...,environnement,localisation,typologiepiste,revetementpiste,domanialite,reglementation,zonecirculationapaisee,anneelivraison,observation,gid_right
0,2.022000e+11,21,10,2022,16:32,1,75106,1,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.022000e+11,21,10,2022,16:32,1,75106,1,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.022000e+11,20,10,2022,13:00,1,75105,2,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.022000e+11,20,10,2022,13:00,1,75105,2,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.022000e+11,21,10,2022,11:25,1,75113,4,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
acci_clean

,Num_Acc,jour,mois,an,hrmn,lum,com,int,atm,col,...,environnement,localisation,typologiepiste,revetementpiste,domanialite,reglementation,zonecirculationapaisee,anneelivraison,observation,gid_right
0,2.022000e+11,21,10,2022,16:32,1,75106,1,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.022000e+11,21,10,2022,16:32,1,75106,1,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.022000e+11,20,10,2022,13:00,1,75105,2,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.022000e+11,20,10,2022,13:00,1,75105,2,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.022000e+11,21,10,2022,11:25,1,75113,4,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3384,2.023001e+11,13,7,2023,07:50,1,69266,2,1,3,...,Voie de circulation,Sur chaussée,None,None,Métropole,Contresens (sens réservé),None,2015.0,None,2636.0
3385,2.023001e+11,13,7,2023,07:50,1,69266,2,1,3,...,Voie de circulation,Sur chaussée,None,None,Métropole,Contresens (sens réservé),None,2015.0,None,2636.0
3386,2.023001e+11,20,10,2023,16:30,1,69387,1,6,3,...,Voie de circulation,Sur chaussée,None,None,Métropole,Vélo facultatif,Zone 30,2022.0,Arrêté n°2022RP42480 du 12/04/24,7022.0
3387,2.023001e+11,20,10,2023,16:30,1,69387,1,6,3,...,Voie de circulation,Sur chaussée,None,None,Métropole,Vélo facultatif,Zone 30,2022.0,Arrêté n°2022RP42480 du 12/04/24,7022.0
3388,2.023001e+11,20,10,2023,16:30,1,69387,1,6,3,...,Voie de circulation,Sur chaussée,None,None,Métropole,Vélo facultatif,Zone 30,2022.0,Arrêté n°2022RP42480 du 12/04/24,7022.0

In [12]:
"""
Cell generated by Data Wrangler.
"""
def clean_data(acci_clean):
    # Drop column: 'geo_shape'
    acci_clean = acci_clean.drop(columns=['geo_shape'])
    # Drop column: 'panneaux'
    acci_clean = acci_clean.drop(columns=['panneaux'])
    # Drop column: 'revetementpiste'
    acci_clean = acci_clean.drop(columns=['revetementpiste'])
    # Drop column: 'limitatio2'
    acci_clean = acci_clean.drop(columns=['limitatio2'])
    # Drop column: 'limitatio1'
    acci_clean = acci_clean.drop(columns=['limitatio1'])
    # Drop column: 'limitatio3'
    acci_clean = acci_clean.drop(columns=['limitatio3'])
    # Drop column: 'limitatio0'
    acci_clean = acci_clean.drop(columns=['limitatio0'])
    # Drop column: 'osm_id'
    acci_clean = acci_clean.drop(columns=['osm_id'])
    # Derive column 'derivedCol' from columns: 'ag', 'ad'
    acci_clean.insert(48, 'derivedCol', acci_clean.apply(lambda row : "", axis=1))
    # Drop column: 'derivedCol'
    acci_clean = acci_clean.drop(columns=['derivedCol'])
    # Drop column: 'petite_ech'
    acci_clean = acci_clean.drop(columns=['petite_ech'])
    # Drop column: 'commune2'
    acci_clean = acci_clean.drop(columns=['commune2_left'])
    # Drop column: 'insee2'
    acci_clean = acci_clean.drop(columns=['insee2_left'])
    # Drop column: 'nomvoie2'
    acci_clean = acci_clean.drop(columns=['nomvoie2'])
    # Drop column: 'denominati'
    acci_clean = acci_clean.drop(columns=['denominati'])
    # Drop column: 'domanialit'
    acci_clean = acci_clean.drop(columns=['domanialit'])
    acci_clean['sens']=acci_clean['senscirculation']+acci_clean['sens_voit']
    return acci_clean

acci_clean_1 = clean_data(acci_clean.copy())
acci_clean_1.head()

,Num_Acc,jour,mois,an,hrmn,lum,com,int,atm,col,...,environnement,localisation,typologiepiste,domanialite,reglementation,zonecirculationapaisee,anneelivraison,observation,gid_right,sens
0,2.022000e+11,21,10,2022,16:32,1,75106,1,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.022000e+11,21,10,2022,16:32,1,75106,1,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.022000e+11,20,10,2022,13:00,1,75105,2,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.022000e+11,20,10,2022,13:00,1,75105,2,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.022000e+11,21,10,2022,11:25,1,75113,4,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
"""
Cell generated by Data Wrangler.
"""
def clean_data(acci_clean_1):
    # Replace all instances of "Sens Unique" with "UNIQUE" in column: 'senscircul'
    acci_clean_1['senscirculation'] = acci_clean_1['senscirculation'].str.replace("Sens Unique", "UNIQUE", case=False, regex=False)
    # Replace all instances of "double" with "DOUBLE" in column: 'senscircul'
    acci_clean_1['senscirculation'] = acci_clean_1['senscirculation'].str.replace("double", "DOUBLE", case=False, regex=False)
    acci_clean_1['senscirculation'].fillna(acci_clean_1['sens_voit'],inplace=True)
    # Drop column: 'sens'
    acci_clean_1 = acci_clean_1.drop(columns=['sens'])
    return acci_clean_1

acci_clean_2 = clean_data(acci_clean_1.copy())

/var/folders/y0/0nrj3m412p978185q3d2503sr02q24/T/ipykernel_44829/1993315018.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  acci_clean_1['senscirculation'].fillna(acci_clean_1['sens_voit'],inplace=True)

In [14]:
acci_clean_2

,Num_Acc,jour,mois,an,hrmn,lum,com,int,atm,col,...,senscirculation,environnement,localisation,typologiepiste,domanialite,reglementation,zonecirculationapaisee,anneelivraison,observation,gid_right
0,2.022000e+11,21,10,2022,16:32,1,75106,1,1,3,...,DOUBLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.022000e+11,21,10,2022,16:32,1,75106,1,1,3,...,DOUBLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.022000e+11,20,10,2022,13:00,1,75105,2,1,3,...,UNIQUE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.022000e+11,20,10,2022,13:00,1,75105,2,1,3,...,UNIQUE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.022000e+11,21,10,2022,11:25,1,75113,4,1,6,...,UNIQUE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3384,2.023001e+11,13,7,2023,07:50,1,69266,2,1,3,...,UNIQUE,Voie de circulation,Sur chaussée,None,Métropole,Contresens (sens réservé),None,2015.0,None,2636.0
3385,2.023001e+11,13,7,2023,07:50,1,69266,2,1,3,...,UNIQUE,Voie de circulation,Sur chaussée,None,Métropole,Contresens (sens réservé),None,2015.0,None,2636.0
3386,2.023001e+11,20,10,2023,16:30,1,69387,1,6,3,...,DOUBLE,Voie de circulation,Sur chaussée,None,Métropole,Vélo facultatif,Zone 30,2022.0,Arrêté n°2022RP42480 du 12/04/24,7022.0
3387,2.023001e+11,20,10,2023,16:30,1,69387,1,6,3,...,DOUBLE,Voie de circulation,Sur chaussée,None,Métropole,Vélo facultatif,Zone 30,2022.0,Arrêté n°2022RP42480 du 12/04/24,7022.0
3388,2.023001e+11,20,10,2023,16:30,1,69387,1,6,3,...,DOUBLE,Voie de circulation,Sur chaussée,None,Métropole,Vélo facultatif,Zone 30,2022.0,Arrêté n°2022RP42480 du 12/04/24,7022.0

In [15]:
"""
Cell generated by Data Wrangler.
"""
def clean_data(acci_clean_2):
    # Drop column: 'notes'
    acci_clean_2 = acci_clean_2.drop(columns=['notes'])
    # Drop column: 'gid'
    acci_clean_2 = acci_clean_2.drop(columns=['gid_right'])
    # Drop column: 'itinerair0'
    acci_clean_2 = acci_clean_2.drop(columns=['itinerair0'])
    # Drop column: 'particular'
    acci_clean_2 = acci_clean_2.drop(columns=['particular'])
    # Drop column: 'precisionr'
    acci_clean_2 = acci_clean_2.drop(columns=['precisionr'])
    # Drop column: 'continuite'
    acci_clean_2 = acci_clean_2.drop(columns=['continuite'])
    # Drop column: 'matieresda'
    acci_clean_2 = acci_clean_2.drop(columns=['matieresda'])
    # Drop column: 'itineraire'
    acci_clean_2 = acci_clean_2.drop(columns=['itineraire'])
    # Rename column 'ville' to 'EPCI'
    acci_clean_2 = acci_clean_2.rename(columns={'ville': 'EPCI'})
    # Drop column: 'sens_voit'
    acci_clean_2 = acci_clean_2.drop(columns=['sens_voit'])
    # Drop column: 'codefuv'
    acci_clean_2 = acci_clean_2.drop(columns=['codefuv'])
    # Drop column: 'insee1'
    acci_clean_2 = acci_clean_2.drop(columns=['insee1_left'])
    acci_clean_2 = acci_clean_2.drop(columns=['insee1_right'])

    acci_clean_2['nom_com'].fillna(acci_clean_2['commune1_left'],inplace=True)
    acci_clean_2['nom_com'].fillna(acci_clean_2['commune1_right'],inplace=True)

    # Drop column: 'commune1'
    acci_clean_2 = acci_clean_2.drop(columns=['commune1_left'])
    acci_clean_2 = acci_clean_2.drop(columns=['commune1_right'])
    acci_clean_2['nom_voie'].fillna(acci_clean_2['nomvoie1'],inplace=True)
    # Drop column: 'nomvoie1'
    acci_clean_2 = acci_clean_2.drop(columns=['nomvoie1'])
    # Drop column: 'hierarchie'
    acci_clean_2 = acci_clean_2.drop(columns=['hierarchie'])
    # Drop column: 'routegrand'
    acci_clean_2 = acci_clean_2.drop(columns=['routegrand'])
    # Drop column: 'id'
    acci_clean_2 = acci_clean_2.drop(columns=['id'])
    return acci_clean_2

acci_clean_3 = clean_data(acci_clean_2.copy())
acci_clean_3.head()

/var/folders/y0/0nrj3m412p978185q3d2503sr02q24/T/ipykernel_44829/966692537.py:31: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  acci_clean_2['nom_com'].fillna(acci_clean_2['commune1_left'],inplace=True)
/var/folders/y0/0nrj3m412p978185q3d2503sr02q24/T/ipykernel_44829/966692537.py:37: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  acci_clean_2['nom_voie'].fillna(acci_clean_2['nomvoie1'],inplace=True)

,Num_Acc,jour,mois,an,hrmn,lum,com,int,atm,col,...,positionnement,senscirculation,environnement,localisation,typologiepiste,domanialite,reglementation,zonecirculationapaisee,anneelivraison,observation
0,2.022000e+11,21,10,2022,16:32,1,75106,1,1,3,...,NaN,DOUBLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.022000e+11,21,10,2022,16:32,1,75106,1,1,3,...,NaN,DOUBLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.022000e+11,20,10,2022,13:00,1,75105,2,1,3,...,NaN,UNIQUE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.022000e+11,20,10,2022,13:00,1,75105,2,1,3,...,NaN,UNIQUE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.022000e+11,21,10,2022,11:25,1,75113,4,1,6,...,NaN,UNIQUE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
acci_clean_3

,Num_Acc,jour,mois,an,hrmn,lum,com,int,atm,col,...,positionnement,senscirculation,environnement,localisation,typologiepiste,domanialite,reglementation,zonecirculationapaisee,anneelivraison,observation
0,2.022000e+11,21,10,2022,16:32,1,75106,1,1,3,...,NaN,DOUBLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.022000e+11,21,10,2022,16:32,1,75106,1,1,3,...,NaN,DOUBLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.022000e+11,20,10,2022,13:00,1,75105,2,1,3,...,NaN,UNIQUE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.022000e+11,20,10,2022,13:00,1,75105,2,1,3,...,NaN,UNIQUE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.022000e+11,21,10,2022,11:25,1,75113,4,1,6,...,NaN,UNIQUE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3384,2.023001e+11,13,7,2023,07:50,1,69266,2,1,3,...,Unilatérale unidirectionnelle,UNIQUE,Voie de circulation,Sur chaussée,None,Métropole,Contresens (sens réservé),None,2015.0,None
3385,2.023001e+11,13,7,2023,07:50,1,69266,2,1,3,...,Unilatérale unidirectionnelle,UNIQUE,Voie de circulation,Sur chaussée,None,Métropole,Contresens (sens réservé),None,2015.0,None
3386,2.023001e+11,20,10,2023,16:30,1,69387,1,6,3,...,Bilatérale unidirectionnelle,DOUBLE,Voie de circulation,Sur chaussée,None,Métropole,Vélo facultatif,Zone 30,2022.0,Arrêté n°2022RP42480 du 12/04/24
3387,2.023001e+11,20,10,2023,16:30,1,69387,1,6,3,...,Bilatérale unidirectionnelle,DOUBLE,Voie de circulation,Sur chaussée,None,Métropole,Vélo facultatif,Zone 30,2022.0,Arrêté n°2022RP42480 du 12/04/24
3388,2.023001e+11,20,10,2023,16:30,1,69387,1,6,3,...,Bilatérale unidirectionnelle,DOUBLE,Voie de circulation,Sur chaussée,None,Métropole,Vélo facultatif,Zone 30,2022.0,Arrêté n°2022RP42480 du 12/04/24

In [17]:
"""
Cell generated by Data Wrangler.
"""
def clean_data(acci_clean_3):
    # Drop column: 'codetronco'
    acci_clean_3 = acci_clean_3.drop(columns=['codetronco'])
    # Drop column: 'geo_point_2d'
    acci_clean_3 = acci_clean_3.drop(columns=['geo_point_2d'])
    # Drop column: 'tram_crossing'
    acci_clean_3 = acci_clean_3.drop(columns=['tram_crossing'])
    # Drop column: 'hierarchi0'
    acci_clean_3 = acci_clean_3.drop(columns=['hierarchi0'])
    # Drop column: 'revetemen0'
    acci_clean_3 = acci_clean_3.drop(columns=['revetemen0'])
    # Drop column: 'revetemen1'
    acci_clean_3 = acci_clean_3.drop(columns=['revetemen1'])
    # Drop column: 'senscirculation'
    acci_clean_3 = acci_clean_3.drop(columns=['senscirculation'])
    # Drop column: 'limitation'
    acci_clean_3 = acci_clean_3.drop(columns=['limitation'])
    # Replace all instances of "z30" with "Zone 30" in column: 'nv'
    acci_clean_3['nv'] = acci_clean_3['nv'].str.replace("z30", "Zone 30", case=False, regex=False)
    # Replace all instances of "z20" with "Zone de rencontre" in column: 'nv'
    acci_clean_3['nv'] = acci_clean_3['nv'].str.replace("z20", "Zone de rencontre", case=False, regex=False)
    # Replace all instances of "rue pietonne" with "Aire Piétonne" in column: 'nv'
    acci_clean_3['nv'] = acci_clean_3['nv'].str.replace("rue pietonne", "Aire Piétonne", case=False, regex=False)
    acci_clean_3['reglementa'].fillna(acci_clean_3['nv'],inplace=True)
    # Drop column: 'insee_com'
    acci_clean_3 = acci_clean_3.drop(columns=['insee_com'])
    # Drop column: 'nv'
    acci_clean_3 = acci_clean_3.drop(columns=['nv'])
    # Rename column 'longueurtr' to 'longueur_trottoir_droit'
    acci_clean_3 = acci_clean_3.rename(columns={'longueurtr': 'longueur_trottoir_droit'})
    # Rename column 'surfacetro' to 'surface_trottoir_droit'
    acci_clean_3 = acci_clean_3.rename(columns={'surfacetro': 'surface_trottoir_droit'})
    # Rename column 'largeurtr0' to 'largeur_trottoir_droit'
    acci_clean_3 = acci_clean_3.rename(columns={'largeurtr0': 'largeur_trottoir_droit'})
    # Rename column 'longueurt0' to 'longueur_trottoir_gauche'
    acci_clean_3 = acci_clean_3.rename(columns={'longueurt0': 'longueur_trottoir_gauche'})
    # Rename column 'surfacetr0' to 'surface_trottoir_gauche'
    acci_clean_3 = acci_clean_3.rename(columns={'surfacetr0': 'surface_trottoir_gauche'})
    return acci_clean_3

acci_clean_4 = clean_data(acci_clean_3.copy())
acci_clean_4.head()

/var/folders/y0/0nrj3m412p978185q3d2503sr02q24/T/ipykernel_44829/3943235095.py:27: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  acci_clean_3['reglementa'].fillna(acci_clean_3['nv'],inplace=True)

,Num_Acc,jour,mois,an,hrmn,lum,com,int,atm,col,...,typeamenagement2,positionnement,environnement,localisation,typologiepiste,domanialite,reglementation,zonecirculationapaisee,anneelivraison,observation
0,2.022000e+11,21,10,2022,16:32,1,75106,1,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.022000e+11,21,10,2022,16:32,1,75106,1,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.022000e+11,20,10,2022,13:00,1,75105,2,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.022000e+11,20,10,2022,13:00,1,75105,2,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.022000e+11,21,10,2022,11:25,1,75113,4,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
acci_clean_4.loc[(acci_clean_4['int']!=1) ,'Crossroad']='No traffic lights'
acci_clean_4.loc[(acci_clean_4['traffic_lights']=='yes'),'Crossroad']='Traffic lights'
acci_clean_4.loc[(acci_clean_4['stops']=='yes'),'Crossroad']='Stop sign'
acci_clean_4.loc[(acci_clean_4['int']==6),'Crossroad']='Roundabouts'
acci_clean_4['Crossroad'].fillna('No intersection',inplace=True)

/var/folders/y0/0nrj3m412p978185q3d2503sr02q24/T/ipykernel_44829/1750705032.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  acci_clean_4['Crossroad'].fillna('No intersection',inplace=True)

In [19]:
print(acci_clean_4['int'].value_counts())

int
 1    9352
 2    7206
 3    4999
 7    1139
 4    1092
 9     723
 6     559
 5     548
 8      41
-1       1
Name: count, dtype: int64

In [20]:
print(acci_clean_4['Crossroad'].value_counts())

Crossroad
No intersection      9352
No traffic lights    8520
Traffic lights       6936
Roundabouts           559
Stop sign             293
Name: count, dtype: int64

In [21]:
"""
Cell generated by Data Wrangler.
"""
def clean_data(acci_clean_4):
    # Drop column: 'commune2_right'
    acci_clean_4 = acci_clean_4.drop(columns=['commune2_right'])
    # Drop column: 'insee2_right'
    acci_clean_4 = acci_clean_4.drop(columns=['insee2_right'])
    # Drop column: 'financementac'
    acci_clean_4 = acci_clean_4.drop(columns=['financementac'])
    # Drop column: 'typeamenagement2'
    acci_clean_4 = acci_clean_4.drop(columns=['typeamenagement2'])
    return acci_clean_4

acci_clean_5 = clean_data(acci_clean_4.copy())

In [22]:
acci_clean_5

,Num_Acc,jour,mois,an,hrmn,lum,com,int,atm,col,...,positionnement,environnement,localisation,typologiepiste,domanialite,reglementation,zonecirculationapaisee,anneelivraison,observation,Crossroad
0,2.022000e+11,21,10,2022,16:32,1,75106,1,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No intersection
1,2.022000e+11,21,10,2022,16:32,1,75106,1,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No intersection
2,2.022000e+11,20,10,2022,13:00,1,75105,2,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Traffic lights
3,2.022000e+11,20,10,2022,13:00,1,75105,2,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Traffic lights
4,2.022000e+11,21,10,2022,11:25,1,75113,4,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Traffic lights
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3384,2.023001e+11,13,7,2023,07:50,1,69266,2,1,3,...,Unilatérale unidirectionnelle,Voie de circulation,Sur chaussée,None,Métropole,Contresens (sens réservé),None,2015.0,None,Stop sign
3385,2.023001e+11,13,7,2023,07:50,1,69266,2,1,3,...,Unilatérale unidirectionnelle,Voie de circulation,Sur chaussée,None,Métropole,Contresens (sens réservé),None,2015.0,None,Stop sign
3386,2.023001e+11,20,10,2023,16:30,1,69387,1,6,3,...,Bilatérale unidirectionnelle,Voie de circulation,Sur chaussée,None,Métropole,Vélo facultatif,Zone 30,2022.0,Arrêté n°2022RP42480 du 12/04/24,No intersection
3387,2.023001e+11,20,10,2023,16:30,1,69387,1,6,3,...,Bilatérale unidirectionnelle,Voie de circulation,Sur chaussée,None,Métropole,Vélo facultatif,Zone 30,2022.0,Arrêté n°2022RP42480 du 12/04/24,No intersection
3388,2.023001e+11,20,10,2023,16:30,1,69387,1,6,3,...,Bilatérale unidirectionnelle,Voie de circulation,Sur chaussée,None,Métropole,Vélo facultatif,Zone 30,2022.0,Arrêté n°2022RP42480 du 12/04/24,No intersection

In [23]:
"""
Cell generated by Data Wrangler.
"""
def clean_data(acci_clean_5):
    # Drop column: 'domanialite'
    acci_clean_5 = acci_clean_5.drop(columns=['domanialite'])
    # Drop column: 'environnement'
    acci_clean_5 = acci_clean_5.drop(columns=['environnement'])
    # Drop column: 'gid_left'
    acci_clean_5 = acci_clean_5.drop(columns=['gid_left'])
    return acci_clean_5

acci_clean_6 = clean_data(acci_clean_5.copy())
acci_clean_6.head()

,Num_Acc,jour,mois,an,hrmn,lum,com,int,atm,col,...,reseau,typeamenagement,positionnement,localisation,typologiepiste,reglementation,zonecirculationapaisee,anneelivraison,observation,Crossroad
0,2.022000e+11,21,10,2022,16:32,1,75106,1,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No intersection
1,2.022000e+11,21,10,2022,16:32,1,75106,1,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No intersection
2,2.022000e+11,20,10,2022,13:00,1,75105,2,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Traffic lights
3,2.022000e+11,20,10,2022,13:00,1,75105,2,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Traffic lights
4,2.022000e+11,21,10,2022,11:25,1,75113,4,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Traffic lights

In [24]:
acci_clean_6['Cycle facilities']=''

acci_clean_6.loc[acci_clean_6['epci'].isin(['MÉTROPOLE DU GRAND PARIS','MÉTROPOLE DE LYON']),'Cycle facilities']='No cycle facilities'
acci_clean_6.loc[acci_clean_6['moyenn_ech'].isin(['21','22']),'Cycle facilities']='Cycle lane'
acci_clean_6.loc[acci_clean_6['moyenn_ech'].isin(['11','12']),'Cycle facilities']='Cycle path/Greenway'
acci_clean_6.loc[acci_clean_6['moyenn_ech'].isin(['21','22']),'Cycle facilities']='Cycle lane'
acci_clean_6.loc[acci_clean_6['moyenn_ech'].isin(['23','24']),'Cycle facilities']='Bus lane'
acci_clean_6.loc[acci_clean_6['moyenn_ech'].isin(['41']),'Cycle facilities']='Pedestrianized street'

acci_clean_6.loc[acci_clean_6['typeamenagement'].str.contains('Bande Cyclable', na=False),'Cycle facilities']='Cycle lane'
acci_clean_6.loc[acci_clean_6['typeamenagement'].str.contains('Piste Cyclable', na=False),'Cycle facilities']='Cycle path/Greenway'
acci_clean_6.loc[acci_clean_6['typeamenagement'].str.contains('Voie verte', na=False),'Cycle facilities']='Cycle path/Greenway'

acci_clean_6.loc[acci_clean_6['typeamenagement'].str.contains('bus', na=False),'Cycle facilities']='Bus lane'

In [25]:
print(acci_clean_6['Cycle facilities'].value_counts())

Cycle facilities
No cycle facilities      14022
Cycle path/Greenway       4056
Cycle lane                3529
Bus lane                  3204
Pedestrianized street      849
Name: count, dtype: int64

In [26]:
"""
Cell generated by Data Wrangler.
"""
def clean_data(acci_clean_6):
    # Drop column: 'nom'
    acci_clean_6 = acci_clean_6.drop(columns=['nom'])
    # Drop column: 'observation'
    acci_clean_6 = acci_clean_6.drop(columns=['observation'])
    # Drop column: 'zonecirculationapaisee'
    acci_clean_6 = acci_clean_6.drop(columns=['zonecirculationapaisee'])
    return acci_clean_6

acci_clean_7 = clean_data(acci_clean_6.copy())

In [27]:
acci_clean_7['positionnement_piste']=acci_clean_7['positionnement']
acci_clean_7.loc[(acci_clean_7['positionnement'].str.contains('unidirectionnel')) &(acci_clean_7['positionnement'].str.contains('unidirectionnel')),'positionnement_piste']='Unidirectionnel'
acci_clean_7.loc[(acci_clean_7['positionnement'].str.contains('bidirectionnel')) &(acci_clean_7['positionnement'].str.contains('bidirectionnel')),'positionnement_piste']='Bidirectionnel'
acci_clean_7.loc[(acci_clean_7['ad'].str.contains('uni')) &(acci_clean_7['ag'].str.contains('uni')),'positionnement_piste']='Unidirectionnel'
acci_clean_7.loc[(acci_clean_7['ad'].str.contains('uni')) | (acci_clean_7['ag'].str.contains('uni')),'positionnement_piste']='Unidirectionnel'
acci_clean_7.loc[(acci_clean_7['ad'].str.contains('piste uni')) &(acci_clean_7['ag'].str.contains('piste uni')),'positionnement_piste']='Bidirectionnel'
acci_clean_7.loc[(acci_clean_7['ad'].str.contains('bi')) | (acci_clean_7['ag'].str.contains('bi')),'positionnement_piste']='Bidirectionnel'
acci_clean_7.loc[(acci_clean_7['ad'].str.contains('DSC')) | (acci_clean_7['ag'].str.contains('DSC')),'positionnement_piste']='Bidirectionnel'

In [28]:
acci_clean_7 = acci_clean_7.reset_index(drop=True)

In [29]:
acci_clean_7['actp'] = acci_clean_7['actp'].replace({'A': 10, 'B': 11})

In [30]:
acci_clean_7

,Num_Acc,jour,mois,an,hrmn,lum,com,int,atm,col,...,reseau,typeamenagement,positionnement,localisation,typologiepiste,reglementation,anneelivraison,Crossroad,Cycle facilities,positionnement_piste
0,2.022000e+11,21,10,2022,16:32,1,75106,1,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No intersection,No cycle facilities,NaN
1,2.022000e+11,21,10,2022,16:32,1,75106,1,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No intersection,No cycle facilities,NaN
2,2.022000e+11,20,10,2022,13:00,1,75105,2,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Traffic lights,No cycle facilities,NaN
3,2.022000e+11,20,10,2022,13:00,1,75105,2,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Traffic lights,No cycle facilities,NaN
4,2.022000e+11,21,10,2022,11:25,1,75113,4,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Traffic lights,Cycle path/Greenway,Unidirectionnel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25655,2.023001e+11,13,7,2023,07:50,1,69266,2,1,3,...,Réseau structurant et super structurant,Bande Cyclable,Unilatérale unidirectionnelle,Sur chaussée,None,Contresens (sens réservé),2015.0,Stop sign,Cycle lane,Unidirectionnel
25656,2.023001e+11,13,7,2023,07:50,1,69266,2,1,3,...,Réseau structurant et super structurant,Bande Cyclable,Unilatérale unidirectionnelle,Sur chaussée,None,Contresens (sens réservé),2015.0,Stop sign,Cycle lane,Unidirectionnel
25657,2.023001e+11,20,10,2023,16:30,1,69387,1,6,3,...,Réseau secondaire,Couloir bus vélo élargi,Bilatérale unidirectionnelle,Sur chaussée,None,Vélo facultatif,2022.0,No intersection,Bus lane,Unidirectionnel
25658,2.023001e+11,20,10,2023,16:30,1,69387,1,6,3,...,Réseau secondaire,Couloir bus vélo élargi,Bilatérale unidirectionnelle,Sur chaussée,None,Vélo facultatif,2022.0,No intersection,Bus lane,Unidirectionnel
25659,2.023001e+11,20,10,2023,16:30,1,69387,1,6,3,...,Réseau secondaire,Couloir bus vélo élargi,Bilatérale unidirectionnelle,Sur chaussée,None,Vélo facultatif,2022.0,No intersection,Bus lane,Unidirectionnel

In [31]:
acci_clean_7.index.name='index'

In [32]:
acci_clean_7['age']=acci_clean_7['an']-acci_clean_7['an_nais']

In [33]:
bins = [0, 20, 40, 60,100]  # Intervalles d'âge
labels = ['0-20', '21-40', '41-60','61+']  # Étiquettes pour chaque intervalle

# Créer une nouvelle colonne 'Age category' contenant les catégories d'âge
acci_clean_7['Age category'] = pd.cut(acci_clean_7['age'], bins=bins, labels=labels, right=False).astype(str)

In [34]:
acci_clean_7['severity'] =acci_clean_7['grav'].replace({2: 3, 4: 2, 3:2})

In [35]:
def determine_season(month):
    if month in [12, 1, 2]:
        return 'Winter'
    elif month in [3, 4, 5]:
        return 'Spring'
    elif month in [6, 7, 8]:
        return 'Summer'
    elif month in [9, 10, 11]:
        return 'Autumn'
    else:
        return 'Unknown'  # Au cas où il y aurait une valeur invalide

# Appliquer la fonction pour créer la colonne 'season'
acci_clean_7['season'] = acci_clean_7['mois'].apply(determine_season)

In [36]:
acci_clean_7['jour'] = acci_clean_7['jour'].astype(int)
acci_clean_7['mois'] = acci_clean_7['mois'].astype(int)
acci_clean_7['an'] = acci_clean_7['an'].astype(int)

In [37]:
acci_clean_7.rename(columns={'jour':'day','mois':'month','an':'Year'},inplace=True)

In [38]:
acci_clean_7['date'] = pd.to_datetime(acci_clean_7[['day', 'month', 'Year']],format='%Y-%m-%d')
acci_clean_7['date_str'] = acci_clean_7['Year'].astype(str) + '-' + acci_clean_7['month'].astype(str).str.zfill(2) + '-01'

# Convertir en type date
acci_clean_7['date2'] = pd.to_datetime(acci_clean_7['date_str'], format='%Y-%m-%d')

# Supprimer la colonne temporaire si nécessaire
acci_clean_7.drop('date_str', axis=1, inplace=True)

# Extraire le jour de la semaine
acci_clean_7['day_of_week'] = acci_clean_7['date'].dt.day_name()

In [39]:
acci_clean_7['Weekend']='No'
acci_clean_7.loc[acci_clean_7['day_of_week'].isin(['Sunday', 'Saturday']), 'Weekend'] = 'Yes'

In [40]:
acci_clean_7['hour'] = acci_clean_7['hrmn'].apply(lambda x: int(str(x).zfill(4)[:2]))

In [41]:
def time_of_day(hour):
    if 7 <= hour < 9:
        return 'Morning peak hours'

    elif 17 <= hour < 19:
        return 'Afternoon peak hours'
    else:
        return 'Offpeak'
    

acci_clean_7['Time of day'] = acci_clean_7['hour'].apply(time_of_day)

In [42]:
acci_clean_7['Helmet']='No'
acci_clean_7.loc[(acci_clean_7['secu1']==2),'Helmet']='Yes'
acci_clean_7.loc[(acci_clean_7['secu2']==2),'Helmet']='Yes'

acci_clean_7['Reflective jacket']='No'
acci_clean_7.loc[(acci_clean_7['secu1']==4),'Reflective jacket']='Yes'
acci_clean_7.loc[(acci_clean_7['secu2']==4),'Reflective jacket']='Yes'

In [43]:
acci_clean_7

,Num_Acc,day,month,Year,hrmn,lum,com,int,atm,col,...,severity,season,date,date2,day_of_week,Weekend,hour,Time of day,Helmet,Reflective jacket
index,,,,,,,,,,,,,,,,,,,,,
0,2.022000e+11,21,10,2022,16:32,1,75106,1,1,3,...,1,Autumn,2022-10-21,2022-10-01,Friday,No,16,Offpeak,No,No
1,2.022000e+11,21,10,2022,16:32,1,75106,1,1,3,...,2,Autumn,2022-10-21,2022-10-01,Friday,No,16,Offpeak,No,No
2,2.022000e+11,20,10,2022,13:00,1,75105,2,1,3,...,1,Autumn,2022-10-20,2022-10-01,Thursday,No,13,Offpeak,No,No
3,2.022000e+11,20,10,2022,13:00,1,75105,2,1,3,...,2,Autumn,2022-10-20,2022-10-01,Thursday,No,13,Offpeak,No,No
4,2.022000e+11,21,10,2022,11:25,1,75113,4,1,6,...,2,Autumn,2022-10-21,2022-10-01,Friday,No,11,Offpeak,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25655,2.023001e+11,13,7,2023,07:50,1,69266,2,1,3,...,1,Summer,2023-07-13,2023-07-01,Thursday,No,7,Morning peak hours,No,No
25656,2.023001e+11,13,7,2023,07:50,1,69266,2,1,3,...,2,Summer,2023-07-13,2023-07-01,Thursday,No,7,Morning peak hours,No,No
25657,2.023001e+11,20,10,2023,16:30,1,69387,1,6,3,...,1,Autumn,2023-10-20,2023-10-01,Friday,No,16,Offpeak,No,No
25658,2.023001e+11,20,10,2023,16:30,1,69387,1,6,3,...,1,Autumn,2023-10-20,2023-10-01,Friday,No,16,Offpeak,No,No
25659,2.023001e+11,20,10,2023,16:30,1,69387,1,6,3,...,2,Autumn,2023-10-20,2023-10-01,Friday,No,16,Offpeak,Yes,No

In [44]:
"""
Cell generated by Data Wrangler.
"""
def clean_data(acci_clean_7):
    # Drop column: 'voie'
    acci_clean_7 = acci_clean_7.drop(columns=['voie'])
    return acci_clean_7

acci_clean_8 = clean_data(acci_clean_7.copy())

In [45]:
print(acci_clean_8[['revetement']].value_counts())

revetement
asphalt                      18528
Béton Bitumineux              3156
sett                           957
concrete                       219
paving_stones                  212
paved                           83
compacted                       31
Béton Désactivé                 21
concrete:plates                 18
Pavés                           18
ground                          13
cobblestone                     12
gravel                          11
Béton                            8
Asphalte                         6
Enduit Superficiel               6
fine_gravel                      5
Béton Bitumineux drainant        4
unpaved                          4
wood                             4
metal                            2
Dalles Pavés                     2
Complexe                         2
cobblestone:flattened            1
Name: count, dtype: int64

In [46]:
acci_clean_8.loc[acci_clean_8['revetement'].isin(['Béton Bitumineux','asphalt']), 'revetement',] = 'Asphalt'
acci_clean_8.loc[acci_clean_8['revetement'].isin(['sett', 'Pavés', 'paved', 'paving_stones', 'Dalles Pavés','cobblestone']), 'revetement'] = 'Paved'
acci_clean_8.loc[acci_clean_8['revetement'].isin(['concrete']), 'revetement'] = 'Concrete'

acci_clean_8.loc[~acci_clean_8['revetement'].isin(['Asphalt','Paved','Concrete']), 'revetement'] = ''
print(acci_clean_8[['revetement']].value_counts())

revetement
Asphalt       21684
               2473
Paved          1284
Concrete        219
Name: count, dtype: int64

In [47]:
acci_clean_8['Surface condition']=''
acci_clean_8.loc[acci_clean_8['surf'].isin([1]), 'Surface condition',] = 'Normal'
acci_clean_8.loc[acci_clean_8['surf'].isin([2, 3, 4,6]), 'Surface condition'] = 'Wet'

print( acci_clean_8['Surface condition'].value_counts())

Surface condition
Normal    21691
Wet        3896
             73
Name: count, dtype: int64

In [48]:
acci_clean_8['Pedestrian action'] = ''
acci_clean_8.loc[acci_clean_8['actp'].isin(['3']), 'Pedestrian action'] = 'Crossing'
acci_clean_8.loc[acci_clean_8['actp'].isin(['2','1']), 'Pedestrian action'] = 'Moving'

print( acci_clean_8['Pedestrian action'].value_counts())

Pedestrian action
            24234
Crossing     1244
Moving        182
Name: count, dtype: int64

In [49]:
acci_clean_8['Pedestrian localisation']=''
acci_clean_8.loc[acci_clean_8['locp'].isin([1,2]), 'Pedestrian localisation',] = 'On the road'
acci_clean_8.loc[acci_clean_8['locp'].isin([4, 3]), 'Pedestrian localisation'] = 'On a pedestrian crossing'
acci_clean_8.loc[acci_clean_8['locp'].isin([5]), 'Pedestrian localisation'] = 'On sidewalk'
print( acci_clean_8['Pedestrian localisation'].value_counts())

Pedestrian localisation
                            24082
On a pedestrian crossing      710
On the road                   631
On sidewalk                   237
Name: count, dtype: int64

In [50]:
acci_clean_8['Point of impact']=''
acci_clean_8.loc[acci_clean_8['choc'].isin([1,2,3]), 'Point of impact',] = 'Front'
acci_clean_8.loc[acci_clean_8['choc'].isin([4, 5,6]), 'Point of impact'] = 'Back'
acci_clean_8.loc[acci_clean_8['choc'].isin([7]), 'Point of impact'] = 'Right side'
acci_clean_8.loc[acci_clean_8['choc'].isin([8]), 'Point of impact'] = 'Left side'

acci_clean_8.loc[acci_clean_8['choc'].isin([0]), 'Point of impact'] = 'None'


print( acci_clean_8['Point of impact'].value_counts())

Point of impact
Front         16050
Left side      2553
None           2459
Back           2439
Right side     2115
                 44
Name: count, dtype: int64

In [51]:
acci_clean_8['Intersection']='Other'
acci_clean_8.loc[acci_clean_8['int'].isin([1]), 'Intersection',] = 'No intersection'
acci_clean_8.loc[acci_clean_8['int'].isin([2]), 'Intersection'] = 'Cross intersection'
acci_clean_8.loc[acci_clean_8['int'].isin([3]), 'Intersection'] = 'T intersection'
acci_clean_8.loc[acci_clean_8['int'].isin([4]), 'Intersection'] = 'Y intersection'
acci_clean_8.loc[acci_clean_8['int'].isin([6]), 'Intersection'] = 'Roundabout'
acci_clean_8.loc[acci_clean_8['int'].isin([7]), 'Intersection'] = 'Square'
print( acci_clean_8['Intersection'].value_counts())

Intersection
No intersection       9352
Cross intersection    7206
T intersection        4999
Other                 1313
Square                1139
Y intersection        1092
Roundabout             559
Name: count, dtype: int64

In [52]:
acci_clean_8['Long profile']=''
acci_clean_8.loc[acci_clean_8['prof'].isin([-1]), 'Long profile',] = 'Unspecified'
acci_clean_8.loc[acci_clean_8['prof'].isin([2,3,4]), 'Long profile'] = 'Slope'
acci_clean_8.loc[acci_clean_8['prof'].isin([1]), 'Long profile'] = 'Flat'

print( acci_clean_8['Long profile'].value_counts())

Long profile
Flat           22277
Slope           3381
Unspecified        2
Name: count, dtype: int64

In [53]:
acci_clean_8['Trip purpose']='Other'
acci_clean_8.loc[acci_clean_8['trajet'].isin([5,3]), 'Trip purpose'] = 'Leisure/Shopping'
acci_clean_8.loc[acci_clean_8['trajet'].isin([2,1,4]), 'Trip purpose'] = 'Professional use'

print( acci_clean_8['Trip purpose'].value_counts())

Trip purpose
Other               10060
Professional use     8584
Leisure/Shopping     7016
Name: count, dtype: int64

In [54]:
acci_clean_8['Weather conditions']=''
acci_clean_8.loc[acci_clean_8['atm'].isin([1]), 'Weather conditions'] = 'Normal'
acci_clean_8.loc[acci_clean_8['atm'].isin([2,3,4]), 'Weather conditions'] = 'Rain / Snow'
acci_clean_8.loc[acci_clean_8['atm'].isin([8,5]), 'Weather conditions'] = 'Cloudy / Fog'
print( acci_clean_8['Weather conditions'].value_counts())

Weather conditions
Normal          21232
Rain / Snow      2870
Cloudy / Fog     1267
                  291
Name: count, dtype: int64

In [55]:
acci_clean_8['Lighting conditions']=''
acci_clean_8.loc[acci_clean_8['lum'].isin([1]), 'Lighting conditions'] = 'Daylight'
acci_clean_8.loc[acci_clean_8['lum'].isin([2]), 'Lighting conditions'] = 'Twilight'
acci_clean_8.loc[acci_clean_8['lum'].isin([3,4]), 'Lighting conditions'] = 'Night without street lightings'

acci_clean_8.loc[acci_clean_8['lum'].isin([5]), 'Lighting conditions'] = 'Night with street lightings on'

print( acci_clean_8['Lighting conditions'].value_counts())

Lighting conditions
Daylight                          18609
Night with street lightings on     5317
Twilight                           1425
Night without street lightings      309
Name: count, dtype: int64

In [56]:
acci_clean_8['Gender']=''
acci_clean_8.loc[acci_clean_8['sexe'].isin([1]), 'Gender'] = 'Male'
acci_clean_8.loc[acci_clean_8['sexe'].isin([2]), 'Gender'] = 'Female'


print( acci_clean_8['Gender'].value_counts())

Gender
Male      17577
Female     7248
            835
Name: count, dtype: int64

In [57]:
acci_clean_8['User category']=''
acci_clean_8.loc[acci_clean_8['catu'].isin([1]), 'User category'] = 'Driver'
acci_clean_8.loc[acci_clean_8['catu'].isin([2]), 'User category'] = 'Passenger'
acci_clean_8.loc[acci_clean_8['catu'].isin([3]), 'User category'] = 'Pedestrian'

In [58]:
print( acci_clean_8['highway'].value_counts())

highway
residential       7303
primary           4886
secondary         4277
tertiary          2906
cycleway          2340
unclassified       893
service            753
pedestrian         620
footway            580
living_street      561
path               379
primary_link        63
track               44
secondary_link      18
trunk_link          15
trunk                8
motorway             5
steps                4
motorway_link        3
busway               2
Name: count, dtype: int64

In [59]:
acci_clean_8['Road type']=''
acci_clean_8.loc[acci_clean_8['highway'].isin(['residential']), 'Road type'] = 'Residential'
acci_clean_8.loc[acci_clean_8['highway'].isin(['primary']), 'Road type'] = 'Primary'
acci_clean_8.loc[acci_clean_8['highway'].isin(['secondary']), 'Road type'] = 'Secondary'
acci_clean_8.loc[acci_clean_8['highway'].isin(['tertiary']), 'Road type'] = 'Tertiary'
acci_clean_8.loc[acci_clean_8['highway'].isin(['cycleway']), 'Road type'] = 'Cycleway'
acci_clean_8.loc[acci_clean_8['highway'].isin(['path']), 'Road type'] = 'Path'
acci_clean_8.loc[acci_clean_8['highway'].isin(['footway','pedestrian','living_street']), 'Road type'] = 'Pedestrian area'


print( acci_clean_8['Road type'].value_counts())

Road type
Residential        7303
Primary            4886
Secondary          4277
Tertiary           2906
Cycleway           2340
                   1808
Pedestrian area    1761
Path                379
Name: count, dtype: int64

In [60]:
acci_clean_1.loc[acci_clean_1['Vehicle'].isin(['E-bike','Bike','E-scooter'])]

,Num_Acc,jour,mois,an,hrmn,lum,com,int,atm,col,...,environnement,localisation,typologiepiste,domanialite,reglementation,zonecirculationapaisee,anneelivraison,observation,gid_right,sens
1,2.022000e+11,21,10,2022,16:32,1,75106,1,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.022000e+11,20,10,2022,13:00,1,75105,2,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.022000e+11,21,10,2022,11:25,1,75113,4,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2.022000e+11,21,10,2022,15:50,1,75103,2,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2.022000e+11,21,10,2022,19:40,5,93049,2,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3379,2.023001e+11,14,7,2023,00:15,5,69385,1,1,1,...,None,Sur chaussée,None,None,Vélo facultatif,None,NaN,None,NaN,NaN
3380,2.023001e+11,14,7,2023,00:15,5,69385,1,1,1,...,None,Sur chaussée,None,None,Vélo facultatif,None,NaN,None,NaN,NaN
3383,2.023001e+11,16,6,2023,15:20,1,69381,1,1,3,...,Voie de circulation,Sur chaussée,Piste sur chaussée,Métropole,Contresens (sens réservé),None,2020.0,Arrêté n°2020RP38274 le 06/07/21,638.0,NaN
3385,2.023001e+11,13,7,2023,07:50,1,69266,2,1,3,...,Voie de circulation,Sur chaussée,None,Métropole,Contresens (sens réservé),None,2015.0,None,2636.0,NaN
3388,2.023001e+11,20,10,2023,16:30,1,69387,1,6,3,...,Voie de circulation,Sur chaussée,None,Métropole,Vélo facultatif,Zone 30,2022.0,Arrêté n°2022RP42480 du 12/04/24,7022.0,NaN

In [61]:
acci_clean_8['Road width'] = pd.cut(acci_clean_8['largeurcha'], bins=[0,4,6,8,10,12,100], labels=['<4 m','4-6 m','6-8 m','8-10 m','10-12 m', '> 12m'], right=False).astype(str)
print( acci_clean_8['Road width'].value_counts())

Road width
nan        22458
6-8 m        848
8-10 m       843
4-6 m        511
10-12 m      462
> 12m        407
<4 m         131
Name: count, dtype: int64

In [62]:
acci_clean_8['Vehicle type']=''
acci_clean_8.loc[acci_clean_8['Vehicle'].isin(['Truck','Tram','Bus']), 'Vehicle type'] = 'Large motorized vehicle'
acci_clean_8.loc[acci_clean_8['Vehicle'].isin(['Car']), 'Vehicle type'] = 'Cars'
acci_clean_8.loc[acci_clean_8['Vehicle'].isin(['Motorcycle','Three-wheeled motorized']), 'Vehicle type'] = 'Light motorized vehicle'
acci_clean_8.loc[acci_clean_8['Vehicle'].isin(['Pedestrian']), 'Vehicle type'] = 'Pedestrian'
acci_clean_8.loc[acci_clean_8['Vehicle'].isin(['Mechanical PMD','Bike', 'E-bike','E-scooter',]), 'Vehicle type'] = 'Micromobility vehicle'

In [63]:
print( acci_clean_8['reglementa'].value_counts())

reglementa
limite 30            12429
Zone 30               5253
hors voirie           3078
Aire Piétonne          609
Zone de rencontre      572
velorue                110
escalier velo            2
Name: count, dtype: int64

In [64]:
acci_clean_8['Reglementation']=''
acci_clean_8.loc[acci_clean_8['reglementa'].isna(), 'Reglementation'] = 'No particularity'
acci_clean_8.loc[acci_clean_8['reglementa'].isin(['Zone 30']), 'Reglementation'] = 'Zone 30'
acci_clean_8.loc[acci_clean_8['reglementa'].isin(['Aire Piétonne']), 'Reglementation'] = 'Pedestrian area'
acci_clean_8.loc[acci_clean_8['reglementa'].isin(['Zone de rencontre']), 'Reglementation'] = 'Meeting zone (Z20)'
acci_clean_8.loc[acci_clean_8['reglementa'].isin(['limite 30']), 'Reglementation'] = 'Limit 30'


print( acci_clean_8['Reglementation'].value_counts())

Reglementation
Limit 30              12429
Zone 30                5253
No particularity       3607
                       3190
Pedestrian area         609
Meeting zone (Z20)      572
Name: count, dtype: int64

In [65]:
acci_clean_8['Max speed']='Other'
acci_clean_8.loc[acci_clean_8['vma'].isin([50]), 'Max speed'] = '50 km/h'
acci_clean_8.loc[acci_clean_8['vma'].isin([30]), 'Max speed'] = '30 km/h'
acci_clean_8.loc[acci_clean_8['vma'].isin([20]), 'Max speed'] = '20 km/h'
acci_clean_8.loc[acci_clean_8['vma'].isin([1,2,3,8,6,5,10]), 'Max speed'] = '< 10 km/h'

print( acci_clean_8['Max speed'].value_counts())

Max speed
50 km/h      14289
30 km/h      10341
Other          716
20 km/h        158
< 10 km/h      156
Name: count, dtype: int64

In [66]:
# Step 1: Filter for passengers
passenger_data = acci_clean_8[acci_clean_8['catu'] == 2]

# Step 2: Count the number of passengers per accident
passenger_counts = passenger_data.groupby('id_vehicule').size().reset_index(name='Number of passengers')

passenger_counts['Number of passengers'] =passenger_counts['Number of passengers'].astype(str)
# Step 3: Merge the counts with the original dataframe
acci_clean_8 = pd.merge(acci_clean_8, passenger_counts, on='id_vehicule', how='left')

# Fill NaN values with 0 for accidents without passengers
acci_clean_8['Number of passengers'] = acci_clean_8['Number of passengers'].fillna(0)

In [67]:
print( acci_clean_8['Crossroad'].value_counts())

Crossroad
No intersection      9352
No traffic lights    8520
Traffic lights       6936
Roundabouts           559
Stop sign             293
Name: count, dtype: int64

In [68]:
acci_clean_8['Maneuver']='Other'
acci_clean_8.loc[acci_clean_8['manv'].isin([5]), 'Maneuver'] = 'In the opposite direction'
acci_clean_8.loc[acci_clean_8['manv'].isin([1,2]), 'Maneuver'] = 'Without change of direction'
acci_clean_8.loc[acci_clean_8['manv'].isin([15]), 'Maneuver'] = 'Turning left'
acci_clean_8.loc[acci_clean_8['manv'].isin([16]), 'Maneuver'] = 'Turning right'
acci_clean_8.loc[acci_clean_8['manv'].isin([24]), 'Maneuver'] = 'Parked'

acci_clean_8.loc[acci_clean_8['manv'].isin([19]), 'Maneuver'] = 'Crossing the road'
acci_clean_8.loc[acci_clean_8['manv'].isin([22]), 'Maneuver'] = 'Door opening'

acci_clean_8.loc[acci_clean_8['manv'].isin([13,14]), 'Maneuver'] = 'Deported'
acci_clean_8.loc[acci_clean_8['manv'].isin([17,18]), 'Maneuver'] = 'Overtaking'

print( acci_clean_8['Maneuver'].value_counts())

Maneuver
Without change of direction    12784
Other                           4688
Turning left                    1950
Turning right                   1383
Crossing the road               1111
Deported                        1028
Door opening                     981
Overtaking                       914
In the opposite direction        651
Parked                           170
Name: count, dtype: int64

In [69]:
acci_clean_8['Obstacle']='Other'
acci_clean_8.loc[acci_clean_8['obs'].isin([1]), 'Obstacle'] = 'Parked_vehicle'
acci_clean_8.loc[acci_clean_8['obs'].isin([8]), 'Obstacle'] = 'Poteau'
acci_clean_8.loc[acci_clean_8['manv'].isin([12]), 'Obstacle'] = 'Sidewalk bordure'


print( acci_clean_8['Obstacle'].value_counts())

Obstacle
Other               24602
Parked_vehicle        808
Sidewalk bordure      127
Poteau                123
Name: count, dtype: int64

In [70]:
columns_to_drop = ['age_2', 'vehicle_type_2', 'Vehicle_2', 'Maneuver_2', 'Gender_2','severity_opposite', 'Point of impact_opposite']

# Check if each column exists before dropping
for column in columns_to_drop:
    if column in acci_clean_8.columns:
        acci_clean_8.drop(columns=[column], inplace=True)

In [71]:
# Define a danger ranking for the vehicle types
danger_ranking = {
    'Large motorized vehicle': 1,
    'Cars': 2,
    'Light motorized vehicle': 3,
    'Micromobility vehicle':4

}

# Assign the danger ranking to each row
acci_clean_8['danger_rank'] = acci_clean_8['Vehicle type'].map(danger_ranking)
acci_clean_8.loc[acci_clean_8['Vehicle'] == 'Pedestrian', 'id_vehicule'] = range(len(acci_clean_8.loc[acci_clean_8['Vehicle'] == 'Pedestrian']))
# Perform the initial self-merge

In [72]:
acci_clean_8

,Num_Acc,day,month,Year,hrmn,lum,com,int,atm,col,...,User category,Road type,Road width,Vehicle type,Reglementation,Max speed,Number of passengers,Maneuver,Obstacle,danger_rank
0,2.022000e+11,21,10,2022,16:32,1,75106,1,1,3,...,Driver,Tertiary,nan,Cars,Limit 30,30 km/h,0,Door opening,Other,2.0
1,2.022000e+11,21,10,2022,16:32,1,75106,1,1,3,...,Driver,Tertiary,nan,Micromobility vehicle,Limit 30,30 km/h,0,Without change of direction,Other,4.0
2,2.022000e+11,20,10,2022,13:00,1,75105,2,1,3,...,Driver,Primary,nan,Cars,Limit 30,30 km/h,0,Turning right,Other,2.0
3,2.022000e+11,20,10,2022,13:00,1,75105,2,1,3,...,Driver,Primary,nan,Micromobility vehicle,Limit 30,30 km/h,0,Without change of direction,Other,4.0
4,2.022000e+11,21,10,2022,11:25,1,75113,4,1,6,...,Driver,Cycleway,nan,Micromobility vehicle,,50 km/h,0,Without change of direction,Other,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25655,2.023001e+11,13,7,2023,07:50,1,69266,2,1,3,...,Driver,Tertiary,10-12 m,Cars,Zone 30,50 km/h,0,Without change of direction,Other,2.0
25656,2.023001e+11,13,7,2023,07:50,1,69266,2,1,3,...,Driver,Tertiary,10-12 m,Micromobility vehicle,Zone 30,50 km/h,0,Without change of direction,Other,4.0
25657,2.023001e+11,20,10,2023,16:30,1,69387,1,6,3,...,Passenger,Tertiary,> 12m,Cars,Zone 30,30 km/h,1,Door opening,Other,2.0
25658,2.023001e+11,20,10,2023,16:30,1,69387,1,6,3,...,Driver,Tertiary,> 12m,Cars,Zone 30,30 km/h,1,Door opening,Other,2.0
25659,2.023001e+11,20,10,2023,16:30,1,69387,1,6,3,...,Driver,Tertiary,> 12m,Micromobility vehicle,Zone 30,30 km/h,0,Without change of direction,Other,4.0

In [73]:

driver=acci_clean_8.loc[acci_clean_8['catu']!=2]
df_merged = pd.merge(driver, driver, on='Num_Acc', suffixes=('', '_opposite'))

# Filter out rows where the id_vehicule is the same
df_filtered = df_merged[df_merged['id_vehicule'] != df_merged['id_vehicule_opposite']]

# Select relevant columns
df_filtered = df_filtered[['Num_Acc', 'id_vehicule', 'id_vehicule_opposite','age_opposite', 'Vehicle_opposite', 'Vehicle type_opposite', 'Maneuver_opposite', 'Gender_opposite', 'severity_opposite', 'Point of impact_opposite']]

# Rename columns for clarity
df_filtered.rename(columns={
    'age_opposite': 'age_2', 
    'Vehicle_opposite': 'Vehicle_2',
    'Vehicle type_opposite': 'vehicle_type_2', 
    'Maneuver_opposite': 'Maneuver_2',
    'Gender_opposite': 'Gender_2',
    'severity_opposite': 'severity_2',
    'Point of impact_opposite': 'Point of impact_2',
    'id_vehicule_opposite': 'id_vehicule_opposite_2'
}, inplace=True)

# Assign danger ranking to the opposite vehicle type
df_filtered['danger_rank_2'] = df_filtered['vehicle_type_2'].map(danger_ranking)

# Sort by Num_Acc, id_vehicule, and danger_rank_2
df_filtered = df_filtered.sort_values(by=['Num_Acc', 'id_vehicule', 'danger_rank_2'])

# Drop duplicates to keep the row with the most dangerous vehicle
df_filtered = df_filtered.drop_duplicates(subset=['Num_Acc', 'id_vehicule'])

# Merge back with the original dataframe to include age_2, vehicle_type_2, and Maneuver_2
acci_clean_8 = pd.merge(acci_clean_8, df_filtered[['Num_Acc', 'id_vehicule', 'age_2', 'vehicle_type_2', 'Vehicle_2', 'Maneuver_2', 'Gender_2', 'severity_2', 'Point of impact_2','id_vehicule_opposite_2']], on=['Num_Acc', 'id_vehicule'], how='left')

In [74]:
acci_clean_8

,Num_Acc,day,month,Year,hrmn,lum,com,int,atm,col,...,Obstacle,danger_rank,age_2,vehicle_type_2,Vehicle_2,Maneuver_2,Gender_2,severity_2,Point of impact_2,id_vehicule_opposite_2
0,2.022000e+11,21,10,2022,16:32,1,75106,1,1,3,...,Other,2.0,40.0,Micromobility vehicle,Bike,Without change of direction,Male,2.0,Front,813 927
1,2.022000e+11,21,10,2022,16:32,1,75106,1,1,3,...,Other,4.0,62.0,Cars,Car,Door opening,Female,1.0,Front,813 926
2,2.022000e+11,20,10,2022,13:00,1,75105,2,1,3,...,Other,2.0,19.0,Micromobility vehicle,Bike,Without change of direction,Male,2.0,None,813 925
3,2.022000e+11,20,10,2022,13:00,1,75105,2,1,3,...,Other,4.0,20.0,Cars,Car,Turning right,Male,1.0,Front,813 924
4,2.022000e+11,21,10,2022,11:25,1,75113,4,1,6,...,Other,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25655,2.023001e+11,13,7,2023,07:50,1,69266,2,1,3,...,Other,2.0,33.0,Micromobility vehicle,E-scooter,Without change of direction,Male,2.0,Right side,155 583 403
25656,2.023001e+11,13,7,2023,07:50,1,69266,2,1,3,...,Other,4.0,53.0,Cars,Car,Without change of direction,Female,1.0,Front,155 583 400
25657,2.023001e+11,20,10,2023,16:30,1,69387,1,6,3,...,Other,2.0,28.0,Micromobility vehicle,E-scooter,Without change of direction,Female,2.0,Front,155 583 345
25658,2.023001e+11,20,10,2023,16:30,1,69387,1,6,3,...,Other,2.0,28.0,Micromobility vehicle,E-scooter,Without change of direction,Female,2.0,Front,155 583 345
25659,2.023001e+11,20,10,2023,16:30,1,69387,1,6,3,...,Other,4.0,21.0,Cars,Car,Door opening,Female,1.0,Right side,155 583 344

In [75]:

# Repeat the process for the third vehicle
driver=acci_clean_8.loc[acci_clean_8['catu']!=2]

df_merged = pd.merge(driver, driver, on='Num_Acc', suffixes=('', '_opposite'))

df_filtered_3 = df_merged[(df_merged['id_vehicule'] != df_merged['id_vehicule_opposite'])]


df_filtered_3 = df_filtered_3[df_filtered_3['id_vehicule'] != df_filtered_3['id_vehicule_opposite']]
df_filtered_3 = df_filtered_3[ (df_filtered_3['id_vehicule_opposite_2'] != df_filtered_3['id_vehicule_opposite'])]

df_filtered_3 = df_filtered_3[['Num_Acc', 'id_vehicule', 'id_vehicule_opposite','age_opposite', 'Vehicle_opposite', 'Vehicle type_opposite', 'Maneuver_opposite', 'Gender_opposite', 'severity_opposite', 'Point of impact_opposite']]
df_filtered_3.rename(columns={
    'age_opposite': 'age_3', 
    'Vehicle_opposite': 'Vehicle_3',
    'Vehicle type_opposite': 'vehicle_type_3', 
    'Maneuver_opposite': 'Maneuver_3',
    'Gender_opposite': 'Gender_3',
    'severity_opposite': 'severity_3',
    'Point of impact_opposite': 'Point of impact_3',
    'id_vehicule_opposite': 'id_vehicule_opposite_3'
}, inplace=True)
df_filtered_3['danger_rank_3'] = df_filtered_3['vehicle_type_3'].map(danger_ranking)
df_filtered_3 = df_filtered_3.sort_values(by=['Num_Acc', 'id_vehicule', 'danger_rank_3'])
df_filtered_3 = df_filtered_3.drop_duplicates(subset=['Num_Acc', 'id_vehicule'])
acci_clean_8 = pd.merge(acci_clean_8, df_filtered_3[['Num_Acc', 'id_vehicule','age_3', 'vehicle_type_3', 'Vehicle_3', 'Maneuver_3', 'Gender_3', 'severity_3', 'Point of impact_3','id_vehicule_opposite_3']], on=['Num_Acc', 'id_vehicule'], how='left')

In [76]:
acci_clean_8

,Num_Acc,day,month,Year,hrmn,lum,com,int,atm,col,...,Point of impact_2,id_vehicule_opposite_2,age_3,vehicle_type_3,Vehicle_3,Maneuver_3,Gender_3,severity_3,Point of impact_3,id_vehicule_opposite_3
0,2.022000e+11,21,10,2022,16:32,1,75106,1,1,3,...,Front,813 927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.022000e+11,21,10,2022,16:32,1,75106,1,1,3,...,Front,813 926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.022000e+11,20,10,2022,13:00,1,75105,2,1,3,...,None,813 925,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.022000e+11,20,10,2022,13:00,1,75105,2,1,3,...,Front,813 924,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.022000e+11,21,10,2022,11:25,1,75113,4,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25655,2.023001e+11,13,7,2023,07:50,1,69266,2,1,3,...,Right side,155 583 403,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25656,2.023001e+11,13,7,2023,07:50,1,69266,2,1,3,...,Front,155 583 400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25657,2.023001e+11,20,10,2023,16:30,1,69387,1,6,3,...,Front,155 583 345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25658,2.023001e+11,20,10,2023,16:30,1,69387,1,6,3,...,Front,155 583 345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25659,2.023001e+11,20,10,2023,16:30,1,69387,1,6,3,...,Right side,155 583 344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
acci_clean_8['age_3'].fillna(0, inplace=True)
acci_clean_8['age_2'].fillna(0, inplace=True)

acci_clean_8.loc[acci_clean_8['number of involved vehicles']==1,'age_opposite_mean']= 0 
acci_clean_8.loc[acci_clean_8['number of involved vehicles']==2,'age_opposite_mean']=acci_clean_8['age_2']
acci_clean_8.loc[acci_clean_8['number of involved vehicles']>2,'age_opposite_mean']=(acci_clean_8['age_2']+acci_clean_8['age_3'])/2

/var/folders/y0/0nrj3m412p978185q3d2503sr02q24/T/ipykernel_44829/1733118309.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  acci_clean_8['age_3'].fillna(0, inplace=True)
/var/folders/y0/0nrj3m412p978185q3d2503sr02q24/T/ipykernel_44829/1733118309.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  acci_clean_8['age_2'].fillna(0, inplace=True)

In [78]:
acci_clean_8['vehicle_type_2'].fillna('No other vehcile', inplace=True)

/var/folders/y0/0nrj3m412p978185q3d2503sr02q24/T/ipykernel_44829/1485804860.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  acci_clean_8['vehicle_type_2'].fillna('No other vehcile', inplace=True)

In [79]:
passengers = acci_clean_8.loc[acci_clean_8['User category']=='Passenger']
drivers = acci_clean_8.loc[acci_clean_8['User category']=='Driver']

df_merged=pd.merge(passengers, drivers,on='id_vehicule', suffixes=('', '_driver'))

# Filter out rows where the id_usager is the same
df_filtered = df_merged[df_merged['id_usager'] != df_merged['id_usager_driver']]

# Select relevant columns
df_filtered = df_filtered[['id_usager', 'age_driver','Helmet_driver','Gender_driver','severity_driver']]

In [80]:
acci_clean_8['id_usager'].fillna(999,inplace=True)

/var/folders/y0/0nrj3m412p978185q3d2503sr02q24/T/ipykernel_44829/3273429700.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  acci_clean_8['id_usager'].fillna(999,inplace=True)

In [81]:

# Merge back with the original dataframe to include age_2, vehicle_type_2, and Maneuver_2
acci_clean_8 = pd.merge(acci_clean_8, df_filtered[['id_usager', 'age_driver','Helmet_driver','Gender_driver','severity_driver']], how='left',on='id_usager')

In [82]:
acci_clean_8[['id_usager', 'age_driver','Helmet_driver','Gender_driver','severity_driver']]=acci_clean_8[['id_usager', 'age_driver','Helmet_driver','Gender_driver','severity_driver']].fillna('999')

In [83]:
acci_clean_8['Gender_driver'] = acci_clean_8['Gender_driver'].astype(str)
acci_clean_8['Helmet_driver'] = acci_clean_8['Helmet_driver'].astype(str)

In [84]:
acci_clean_8

,Num_Acc,day,month,Year,hrmn,lum,com,int,atm,col,...,Maneuver_3,Gender_3,severity_3,Point of impact_3,id_vehicule_opposite_3,age_opposite_mean,age_driver,Helmet_driver,Gender_driver,severity_driver
0,2.022000e+11,21,10,2022,16:32,1,75106,1,1,3,...,NaN,NaN,NaN,NaN,NaN,40.0,999,999,999,999
1,2.022000e+11,21,10,2022,16:32,1,75106,1,1,3,...,NaN,NaN,NaN,NaN,NaN,62.0,999,999,999,999
2,2.022000e+11,20,10,2022,13:00,1,75105,2,1,3,...,NaN,NaN,NaN,NaN,NaN,19.0,999,999,999,999
3,2.022000e+11,20,10,2022,13:00,1,75105,2,1,3,...,NaN,NaN,NaN,NaN,NaN,20.0,999,999,999,999
4,2.022000e+11,21,10,2022,11:25,1,75113,4,1,6,...,NaN,NaN,NaN,NaN,NaN,0.0,999,999,999,999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25655,2.023001e+11,13,7,2023,07:50,1,69266,2,1,3,...,NaN,NaN,NaN,NaN,NaN,33.0,999,999,999,999
25656,2.023001e+11,13,7,2023,07:50,1,69266,2,1,3,...,NaN,NaN,NaN,NaN,NaN,53.0,999,999,999,999
25657,2.023001e+11,20,10,2023,16:30,1,69387,1,6,3,...,NaN,NaN,NaN,NaN,NaN,28.0,21.0,No,Female,1.0
25658,2.023001e+11,20,10,2023,16:30,1,69387,1,6,3,...,NaN,NaN,NaN,NaN,NaN,28.0,999,999,999,999
25659,2.023001e+11,20,10,2023,16:30,1,69387,1,6,3,...,NaN,NaN,NaN,NaN,NaN,21.0,999,999,999,999

In [85]:
bins = [0, 20, 40, 60,100]  # Intervalles d'âge
labels = ['0-20', '21-40', '41-60','61+']  # Étiquettes pour chaque intervalle

# Créer une nouvelle colonne 'Age category' contenant les catégories d'âge
acci_clean_8['Age category involved'] = pd.cut(acci_clean_8['age_2'], bins=bins, labels=labels, right=False).astype(str)

In [86]:
acci_clean_8

,Num_Acc,day,month,Year,hrmn,lum,com,int,atm,col,...,Gender_3,severity_3,Point of impact_3,id_vehicule_opposite_3,age_opposite_mean,age_driver,Helmet_driver,Gender_driver,severity_driver,Age category involved
0,2.022000e+11,21,10,2022,16:32,1,75106,1,1,3,...,NaN,NaN,NaN,NaN,40.0,999,999,999,999,41-60
1,2.022000e+11,21,10,2022,16:32,1,75106,1,1,3,...,NaN,NaN,NaN,NaN,62.0,999,999,999,999,61+
2,2.022000e+11,20,10,2022,13:00,1,75105,2,1,3,...,NaN,NaN,NaN,NaN,19.0,999,999,999,999,0-20
3,2.022000e+11,20,10,2022,13:00,1,75105,2,1,3,...,NaN,NaN,NaN,NaN,20.0,999,999,999,999,21-40
4,2.022000e+11,21,10,2022,11:25,1,75113,4,1,6,...,NaN,NaN,NaN,NaN,0.0,999,999,999,999,0-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25655,2.023001e+11,13,7,2023,07:50,1,69266,2,1,3,...,NaN,NaN,NaN,NaN,33.0,999,999,999,999,21-40
25656,2.023001e+11,13,7,2023,07:50,1,69266,2,1,3,...,NaN,NaN,NaN,NaN,53.0,999,999,999,999,41-60
25657,2.023001e+11,20,10,2023,16:30,1,69387,1,6,3,...,NaN,NaN,NaN,NaN,28.0,21.0,No,Female,1.0,21-40
25658,2.023001e+11,20,10,2023,16:30,1,69387,1,6,3,...,NaN,NaN,NaN,NaN,28.0,999,999,999,999,21-40
25659,2.023001e+11,20,10,2023,16:30,1,69387,1,6,3,...,NaN,NaN,NaN,NaN,21.0,999,999,999,999,21-40

In [87]:
acci_clean_8['Accident location']='Other'
acci_clean_8.loc[acci_clean_8['situ'].isin([1]), 'Accident location'] = 'On road'
acci_clean_8.loc[acci_clean_8['situ'].isin([4]), 'Accident location'] = 'On sidewalk'
acci_clean_8.loc[acci_clean_8['situ'].isin([5]), 'Accident location'] = 'On cycle facility'

acci_clean_8.loc[acci_clean_8['situ'].isin([6]), 'Accident location'] = 'On other special way'


print( acci_clean_8['Accident location'].value_counts())

Accident location
On road                 17239
On cycle facility        6198
On other special way     1120
On sidewalk               714
Other                     389
Name: count, dtype: int64

In [88]:
# Group by 'Num_Acc' and count occurrences
count_per_acc = acci_clean_8.groupby('Num_Acc').size()

# Filter for counts equal to 1
unique_accs = count_per_acc[count_per_acc == 1].index

# Use .loc to filter the original DataFrame
filtered_df = acci_clean_8.loc[acci_clean_8['Num_Acc'].isin(unique_accs)]

In [89]:
acci_clean_8.rename(columns={'reseaupl': 'Truck traffic', 'revetement': 'Pavement','epci': 'Agglomeration'}, inplace=True)

In [90]:
acci_clean_8['Vehicle'].drop_duplicates()

0                           Car
1                          Bike
5                    Pedestrian
12                    E-scooter
18                       E-bike
28                   Motorcycle
65               Mechanical PMD
131                         Bus
259                       Truck
275     Three-wheeled motorized
2582                       Tram
Name: Vehicle, dtype: object

In [91]:
acci_clean_8.loc[acci_clean_8['Vehicle'].isin(['Pedestrian', 'E-scooter', 'E-bike', 'Bike'])].to_file('data.geojson')

In [92]:
acci_clean_8.to_csv('test_données.csv')